# Lineages
Natalia Vélez, December 2019–January 2020

In this notebook:

* Charting lineages
* Comparing lineages using various measures of well-being (# descendants, lifespan, causes of death, etc.)
* Preparing inputs for subsequent analyses (combined with food, map change logs)

This notebook uses data from March 6–9, 2018 (which corresponds to the first release after the start of the logs)

In [1]:
%matplotlib inline

import os, re, glob
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns
import networkx
from os.path import join as opj
from tqdm import tqdm_notebook
from ast import literal_eval as make_tuple

sns.set_context('paper')

In [2]:
data = pd.read_csv('outputs/lifelogs_201803_data.csv', sep='\t')
data.head()

,server,event,timestamp,playerID,hash,uniqueID,age,sex,location,parent,cause_of_death,killer,pop,chain
0,server1,B,1520559275,36490,49483e9224e4ccdb5af274bb71bb1e3de9aeedea,36490_49483e9224e4ccdb5af274bb71bb1e3de9aeedea,NaN,F,"(-49, 607)",NaN,NaN,NaN,1,1.0
1,server1,B,1520559278,36491,50edfe49ea709e8764321ae12643c19ebf172c5f,36491_50edfe49ea709e8764321ae12643c19ebf172c5f,NaN,M,"(-49, 607)",36490.0,NaN,NaN,2,2.0
2,server1,B,1520559278,36492,f402d6ab9f88bfe764c9cac07c75f1e39c8bb23c,36492_f402d6ab9f88bfe764c9cac07c75f1e39c8bb23c,NaN,F,"(-70, 74)",NaN,NaN,NaN,3,1.0
3,server1,B,1520559279,36493,26541162d8aeb20f1c633000ade50cabc23df1c5,36493_26541162d8aeb20f1c633000ade50cabc23df1c5,NaN,M,"(-70, 74)",36492.0,NaN,NaN,4,2.0
4,server1,B,1520559280,36494,f623c5fbea396330c89487a06c5613b6cf80f65e,36494_f623c5fbea396330c89487a06c5613b6cf80f65e,NaN,F,"(-37, 95)",NaN,NaN,NaN,5,1.0