# Generational change
Natalia VÃ©lez, July 2020

In [1]:
%matplotlib inline

import os,re,glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('white')
sns.set_context('talk')

## How many unique families and players?

In [30]:
fam_df = pd.read_csv('outputs/family_playerID.tsv', sep='\t', index_col=0)
print(len(fam_df))
fam_df.head()

1318098

/Users/nvelez/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

   playerID                                   family
0   3080084  time-1592284232_eve-3080067_name-PICKLE
1   3080114  time-1592284232_eve-3080067_name-PICKLE
2   3080111  time-1592284232_eve-3080067_name-PICKLE
3   3080108  time-1592284232_eve-3080067_name-PICKLE
4   3080104  time-1592284232_eve-3080067_name-PICKLE

In [25]:
hash_df = pd.read_csv('outputs/all_lifelogs_compact.tsv', sep='\t', index_col=0)
hash_df = hash_df[['playerID', 'hash']]
hash_df['playerID'] = hash_df['playerID'].astype(np.int)
hash_df.head()

/Users/nvelez/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

   playerID                                      hash
0   3080130  2cdc4d0b016f9c0d96d27013f1d19c42596e0c5c
1   3080128  a8b5975a81344f690f45ffc2554a0bc35af557a9
2   3080125  c5838da39fd525a2ac24aee049dae6a42e502236
3   3080122  11f9fce50bbc1ebbba5126434aea123e79249942
4   3080120  b265b1958566b474094cf0282a0fa59e6d622885

In [26]:
fam_hash = pd.merge(fam_df, hash_df, on='playerID', how='outer')
fam_hash.head()

,playerID,family,hash
0,3080084,time-1592284232_eve-3080067_name-PICKLE,50f2af0354b4b21b45f21dc0755d88f6c5911ee8
1,3080114,time-1592284232_eve-3080067_name-PICKLE,e5b6e06cc9e4290659f000bb536e6cc18a6ac563
2,3080111,time-1592284232_eve-3080067_name-PICKLE,b2871bf06c8011c73a45aa383511d2fb61008282
3,3080108,time-1592284232_eve-3080067_name-PICKLE,d652ba12b0bfb72ef4129bad91e42f0e73f9b3e2
4,3080104,time-1592284232_eve-3080067_name-PICKLE,dce3a4fb6c10feb52c169e48e85bb4e7dfea1514

In [29]:
#families = np.unique(fam_hash['family'])
characters = np.unique(fam_hash['playerID'])
players = np.unique(fam_hash['hash'])

#print('N =\t%i families' % len(families))
print('\t%i lives lived' % len(characters))
print('\t%i unique players' % len(players))

	1671032 lives lived
	44692 unique players

In [24]:
players = np.unique(fam_hash['hash'])

TypeError: '<' not supported between instances of 'float' and 'str'

In [23]:
fam_hash['hash']

array([      3,       4,       5, ..., 3080253, 3080254, 3080255])