In [1]:
import pandas as pd

In [13]:
i = 1573982073
baseDir = '../data/publicMapChangeData/bigserver2.onehouronelife.com/'

In [16]:
mydf = pd.read_csv(baseDir + str(i) + 'time_mapLog.txt')
mydf[['time','locX','locY','obj','playerID']] = mydf[mydf.columns[0]].str.split(" ", expand=True)
mydf = mydf[['time','locX','locY','obj','playerID']]
mydf['playerID'] = mydf['playerID'].astype(int)
mydf.head()

   time   locX   locY  obj  playerID
0  0.00  -5998     81    0   2281395
1  0.00  -7918  -1039    0   2281463
2  0.21  -6004     94  577   2281440
3  0.24  -5991     85    0   2281459
4  0.29  -9753   -639  292   2281355

In [24]:
fam= pd.read_csv('../2_demographics/outputs/family_playerID.tsv', sep = '\t', index_col = 0)
fam.head(n=10)

/Users/dengwenning/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

   playerID                                   family
0   3080084  time-1592284232_eve-3080067_name-PICKLE
1   3080114  time-1592284232_eve-3080067_name-PICKLE
2   3080111  time-1592284232_eve-3080067_name-PICKLE
3   3080108  time-1592284232_eve-3080067_name-PICKLE
4   3080104  time-1592284232_eve-3080067_name-PICKLE
5   3080130  time-1592284232_eve-3080067_name-PICKLE
6   3080122  time-1592284232_eve-3080067_name-PICKLE
7   3080117  time-1592284232_eve-3080067_name-PICKLE
8   3080067  time-1592284232_eve-3080067_name-PICKLE
9   3080044    time-1592283401_eve-3080044_name-KORE

In [25]:
fam.query('playerID == 2281395')

Empty DataFrame
Columns: [playerID, family]
Index: []

In [7]:
def find_fam(playerId):
    
    family = fam.loc[fam['playerID'] == playerId,'family'].tolist()
    if len(family):    
        fam_name = family[0].split('-')[-1]
    else:
        fam_name = "UnKnown"
    
    return fam_name

In [18]:
mydf = mydf.iloc[0:1000]

In [19]:
mydf['fam'] = mydf['playerID'].apply(find_fam)

In [20]:
mydf.query('fam == "UnKnown"')

       time   locX   locY     obj  playerID      fam
0      0.00  -5998     81       0   2281395  UnKnown
1      0.00  -7918  -1039       0   2281463  UnKnown
2      0.21  -6004     94     577   2281440  UnKnown
3      0.24  -5991     85       0   2281459  UnKnown
4      0.29  -9753   -639     292   2281355  UnKnown
6      0.76  -9762   -673       0        -1  UnKnown
7      0.76  -9762   -673     292   2281449  UnKnown
8      1.42  -9762   -673       0   2281449  UnKnown
9      2.02  -9752   -639     126   2281355  UnKnown
10     2.10  -5985     79      33   2281475  UnKnown
12     2.17  -6011     92      34   2281464  UnKnown
13     2.62  -9759   -673       0   2281449  UnKnown
14     2.83  -6007     79    2833   2281435  UnKnown
15     3.06  -6009     83       0   2281473  UnKnown
16     3.23  -9753   -640     126   2281355  UnKnown
17     3.33  -6006     79  2835u4   2281435  UnKnown
18     3.97  -6009     83    1199   2281473  UnKnown
19     4.65  -5980     77       0        -1  UnKnown
20     4.65  -5980     77      33   2281475  UnKnown
21     4.66  -9754   -640     126   2281355  UnKnown
22     5.19  -5993     98   568u3   2281440  UnKnown
23     5.50  -9752   -639       0   2281355  UnKnown
24     5.53  -5980     77       0        -1  UnKnown
25     5.53  -5980     77     254   2281475  UnKnown
26     6.11  -6010     89       0   2281367  UnKnown
27     6.43  -6006    217     292   2281450  UnKnown
28     6.53  -9755   -640     126   2281355  UnKnown
29     6.78  -6009     75       0   2281432  UnKnown
32     7.31  -6005    217     244   2281450  UnKnown
33     7.65  -6012     90    1177   2281367  UnKnown
..      ...    ...    ...     ...       ...      ...
968  190.16  -9760   -641       0   2281355  UnKnown
969  190.43  -5998     99   587u2   2281434  UnKnown
970  190.71  -5993     92     550   2281435  UnKnown
971  190.75  -5991     77     292   2281440  UnKnown
972  191.00  -9751   -637     198   2281449  UnKnown
973  191.32  -5991     78       0   2281440  UnKnown
975  191.85  -5984     62       0        -1  UnKnown
976  191.85  -5984     62      31   2281432  UnKnown
977  191.92  -9750   -638     292   2281449  UnKnown
978  191.93  -5985     77     264   2281365  UnKnown
979  192.10  -5998     99   587u1   2281434  UnKnown
980  192.15  -6014    101    30u2   2281395  UnKnown
981  192.30  -9751   -638       0   2281449  UnKnown
982  192.88  -5991     78     235   2281440  UnKnown
983  193.08  -6014    101    30u1   2281395  UnKnown
985  193.28  -5995     99       0   2281434  UnKnown
986  193.34  -5983     62       0   2281432  UnKnown
987  193.86  -6007     79  2835u3   2281443  UnKnown
988  193.97  -5983     84    3161   2281435  UnKnown
989  194.10  -9758   -644     216   2281355  UnKnown
990  194.25  -9751   -635    3051   2281449  UnKnown
991  194.88  -5984     77     236   2281475  UnKnown
992  195.00  -5997     98     292   2281434  UnKnown
993  195.14  -5985     84       0        -1  UnKnown
994  195.14  -5985     84     292   2281435  UnKnown
995  195.45  -9751   -635       0   2281449  UnKnown
996  195.60  -5998     99   587u0   2281434  UnKnown
997  195.77  -6015     83       0   2281450  UnKnown
998  196.11  -6007     79  2835u2   2281443  UnKnown
999  196.23  -5983     82   252u2   2281365  UnKnown

[852 rows x 6 columns]