# Build tech tree
Grace Deng, August 2020

Last modified by Natalia Velez, April 2021

This file does the following:
   1. Parse the transition files (expand on categories and keep only the forward transitions)
   2. Calculates the depth (defined as the number of unique ingredients) of each object in the tech tree
   3. Calculates the empowerment of each object (defined as the number of immediate products that can be made from this object)

In [1]:
import os, re, glob, json
from os.path import join as opj
import numpy as np
import pandas as pd
import json
import networkx as nx
import pymongo
import pprint
from tqdm import notebook
from itertools import cycle

## Load data from database

Connect:

In [2]:
keyfile = '../6_database/credentials.key'

#Connection string
creds = open(keyfile, "r").read().splitlines()
myclient = pymongo.MongoClient('134.76.24.75', username=creds[0], password=creds[1], authSource='ohol') 
print(myclient)

ohol = myclient.ohol
print(ohol)

MongoClient(host=['134.76.24.75:27017'], document_class=dict, tz_aware=False, connect=True, authsource='ohol')
Database(MongoClient(host=['134.76.24.75:27017'], document_class=dict, tz_aware=False, connect=True, authsource='ohol'), 'ohol')

Load objects:

In [3]:
objects = list(ohol.objects.find())
objects = pd.DataFrame(objects)

print('Loading %i objects' % objects.shape[0])
objects.head()

Loading 4161 objects

,_id,id,name,containable,containSize,vertSlotRot,permanent,minPickupAge,heldInHand,blocksWalking,...,floorHugging,slotsLocked,noFlip,sideAccess,creationSoundForce,invisCont,slotPos,vert,spritesDrawnBehind,spritesAdditiveBlend
0,60750c9e68dcd62afd70767e,11,Skin Tone A &B &C &D &E &F,0,1.0,0.0,0,3,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60750c9e68dcd62afd70767f,19,Female001 D,0,1.0,0.0,0,3,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,60750c9e68dcd62afd707680,30,Wild Gooseberry Bush,0,1.0,0.0,1,3,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,60750c9e68dcd62afd707681,31,Gooseberry,1,1.0,0.0,0,3,1,0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60750c9e68dcd62afd707682,32,Big Hard Rock,0,1.0,0.0,1,3,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Load categories:

In [4]:
categories = list(ohol.categories.find())
categories = pd.DataFrame(categories)

print('Loading %i categories' % categories.shape[0])
categories.head()

Loading 269 categories

,_id,parentID,numObjects,probabilistic,pattern,children,probs
0,60750cbd68dcd62afd7086bf,316,3,False,True,"[2505, 2517, 3002]",None
1,60750cbd68dcd62afd7086c0,319,3,False,True,"[2506, 2522, 3003]",None
2,60750cbd68dcd62afd7086c1,320,3,False,True,"[2510, 2520, 3004]",None
3,60750cbd68dcd62afd7086c2,321,3,False,True,"[2507, 2524, 3007]",None
4,60750cbd68dcd62afd7086c3,322,3,False,True,"[2508, 2523, 3008]",None

Load transitions:

In [5]:
trans_cols = ['origActor', 'origTarget', 'newActor', 'newTarget']
cat_cols = [c+'_cat' for c in trans_cols]
pattern_cols = [c+'_pattern' for c in trans_cols]

transitions = list(ohol.transitions.find())
transitions = pd.DataFrame(transitions)
transitions = transitions[trans_cols]

print('Loading %i transitions' % transitions.shape[0])
transitions.head()

Loading 4847 transitions

   origActor  origTarget  newActor  newTarget
0         67        2970         0       2966
1        235        1890      1892          0
2        441         445       441        444
3          0        2671      2539       2665
4        239         335       327        291

## Expand transitions between categories

Helper functions: Identify categories

In [6]:
# Helper function: Does this item name correspond to a category?
cat_names = categories.parentID.values
def is_cat_elem(objID): return objID in cat_names
is_cat = np.vectorize(is_cat_elem)

# Helper function: Is this category a "pattern" category?
# (Pattern categories are parsed differently from regular categories - see below)
pattern_cats = categories[categories.pattern].parentID.values
def is_pattern_elem(cat):
    if is_cat(cat):
        return cat in pattern_cats
    else:
        return False
is_pattern = np.vectorize(is_pattern_elem)

Helper functions: Expand transitions containing category labels

In [83]:
def cat_children(cat, pattern=False):
    '''
    Return object ID (if not category) or list of children (if regular category)
    
    Inputs:
    cat: int
    
    Output: numpy array of categories
    '''
    if is_cat(cat):
        children = categories[categories.parentID == cat]['children'].values[0]
        if pattern: 
            print('Added pattern parent')
            return [cat] + children
        else:
            return children
    else:
        return np.array([cat])
    
def expand_pairs(arr1, arr2):
    '''
    Expand one array in a set (e.g., old and new targets) if they are not the same length
    
    Inputs:
    arr1, arr2: lists
    
    Outputs:
    pairs: list of tuples
    
    Note: This function works if arr1 and arr2 are of the same length, or if one array is of length 1.
    It is written *deliberately* to fail if arr1 and arr2 have multiple elements and are mismatched,
    which should only happen if we haven't processed a transition with pattern categories properly.
    '''
    if len(arr2) == 1:
        pairs = zip(arr1, cycle(arr2))
    elif len(arr1) == 1:
        pairs = zip(cycle(arr1), arr2)
    elif len(arr1) == len(arr2):
        pairs = zip(arr1, arr2)
    
    return list(pairs)
    
def expand_transitions(row):
    '''
    Takes a row from the original transitions dataset, expands any transitions containing category labels,
    and returns the set of child transitions

    Inputs:
    row: pd.Series object (must contain fields: origActor, newActor, origTarget, newTarget)
    
    Outputs:
    ex_transitions: list of tuples (which will later be turned into a dataframe)
    '''
    # Expand category labels into lists of children
    inputs = row[trans_cols]
    ex_inputs = inputs.apply(cat_children)

    # Match up children to make expanded transitions
    actors = expand_pairs(ex_inputs['origActor'], ex_inputs['newActor'])
    targets = expand_pairs(ex_inputs['origTarget'], ex_inputs['newTarget'])

    ex_transitions = [(oa, ot, na, nt)
                      for oa,na in actors
                      for ot,nt in targets]
    
    return ex_transitions

Debug: Tag whether each element in a transition is a category

In [28]:
trans_is_cat = transitions.apply(is_cat)
trans_is_pattern = transitions.apply(is_pattern)
trans_cats = transitions.merge(trans_is_cat, left_index=True, right_index=True, suffixes=('', '_cat'))
trans_cats = trans_cats.merge(trans_is_pattern, left_index=True, right_index=True, suffixes=('', '_pattern'))

print(trans_cats.shape)
trans_cats.head(10)

(4847, 12)

,origActor,origTarget,newActor,newTarget,origActor_cat,origTarget_cat,newActor_cat,newTarget_cat,origActor_pattern,origTarget_pattern,newActor_pattern,newTarget_pattern
0,67,2970,0,2966,False,False,False,False,False,False,False,False
1,235,1890,1892,0,False,False,False,False,False,False,False,False
2,441,445,441,444,False,False,False,False,False,False,False,False
3,0,2671,2539,2665,False,False,False,False,False,False,False,False
4,239,335,327,291,False,False,False,False,False,False,False,False
5,405,254,0,262,True,False,False,False,False,False,False,False
6,0,4302,236,4303,False,False,False,False,False,False,False,False
7,0,2359,2356,2243,False,False,False,False,False,False,False,False
8,-1,420,0,429,False,False,False,False,False,False,False,False
9,4542,-1,4543,4535,False,False,False,False,False,False,False,False

Helper function: Parse pattern categories

According to [this comment](https://github.com/JustinLove/onetech/blob/mapping/process/src/TransitionImporter.js) in the onetech repository, pattern categories need to be parsed differently:
```
  // Pattern categories work differently than regular categories:
  // 1. The parentID is an actual object and should stick around
  // 2. A transition is only considered if all matching pattern
  //    categories have the same number of objectIDs
  // 3. For each objectID, a new transition is created which maps
  //    each other pattern category objectID to the new object 
```

In [60]:
#def expand_pattern(row):
 
row = trans_cats.loc[4496]
row

origActor                -1
origTarget             3766
newActor                  0
newTarget              3765
origActor_cat         False
origTarget_cat         True
newActor_cat          False
newTarget_cat          True
origActor_pattern     False
origTarget_pattern     True
newActor_pattern      False
newTarget_pattern      True
Name: 4496, dtype: object

In [90]:
objects[objects.id == 3765]

,_id,id,name,containable,containSize,vertSlotRot,permanent,minPickupAge,heldInHand,blocksWalking,...,floorHugging,slotsLocked,noFlip,sideAccess,creationSoundForce,invisCont,slotPos,vert,spritesDrawnBehind,spritesAdditiveBlend
3286,60750c9e68dcd62afd708354,3765,@ Eastward Moving Cart,0,1.0,0.0,0,3,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [97]:
categories[categories.parentID == 3765].children.values[0]

[1522,
 1568,
 1591,
 3785,
 3794,
 1522,
 1568,
 1591,
 3785,
 3794,
 1522,
 1568,
 1591,
 3785,
 3794,
 1522,
 1568,
 1591,
 3785,
 3794,
 1522,
 1568,
 1591,
 3785,
 3794]

In [101]:
objects[objects.id.isin(categories[categories.parentID == 3765].children.values[0])].name

1254                    Track Cart -moving East
1285           Track Cart -moving East left end
1307         Track Cart -moving East left cross
3306    Track Cart -moving East left north east
3314    Track Cart -moving East left south east
Name: name, dtype: object

In [74]:
len([3766] + categories[categories.parentID == 3766].children.values[0])

26

In [102]:
objects[objects.id == 3766].name

3287    @ Eastward Moving Cart Leaving
Name: name, dtype: object

In [62]:
categories[categories.parentID == 4496]

Empty DataFrame
Columns: [_id, parentID, numObjects, probabilistic, pattern, children, probs]
Index: []

Expand transitions

In [57]:
expanded_list = []
print('Original transitions: %i' % trans_cats.shape[0])

for idx, row in notebook.tqdm(trans_cats.iterrows(), total=trans_cats.shape[0]):
#     trans = expand_transitions(row)
#     expanded_transitions += trans
    if any(row[pattern_cols]):
        print('Skipping transition %i' % idx)

    else: # Add non-category transitions (which is most transitions as-is
        trans = expand_transitions(row)
        expanded_list += trans

# Turn to dataframe        
expanded_df = pd.DataFrame(expanded_list, columns=trans_cols)
expanded_size_orig = expanded_df.shape[0]

# Remove duplicate rows
expanded_df = expanded_df.drop_duplicates().reset_index(drop=True)
expanded_size_final = expanded_df.shape[0]

print('Original expanded transitions: %i' % expanded_size_orig)
print('Removed %i duplicate transitions' % (expanded_size_orig-expanded_size_final))
print('Final expanded of transitions: %i' % expanded_size_final)
    
# Drop duplicate transitions

Original transitions: 4847

  0%|          | 0/4847 [00:00<?, ?it/s]

Skipping transition 77
Skipping transition 97
Skipping transition 126
Skipping transition 154
Skipping transition 190
Skipping transition 191
Skipping transition 203
Skipping transition 251
Skipping transition 258
Skipping transition 259
Skipping transition 265
Skipping transition 298
Skipping transition 304
Skipping transition 317
Skipping transition 340
Skipping transition 348
Skipping transition 356
Skipping transition 375
Skipping transition 378
Skipping transition 408
Skipping transition 411
Skipping transition 419
Skipping transition 421
Skipping transition 426
Skipping transition 432
Skipping transition 443
Skipping transition 446
Skipping transition 451
Skipping transition 453
Skipping transition 488
Skipping transition 510
Skipping transition 525
Skipping transition 579
Skipping transition 595
Skipping transition 630
Skipping transition 654
Skipping transition 655
Skipping transition 677
Skipping transition 678
Skipping transition 681
Skipping transition 692
Skipping transition 755
Skipping transition 792
Skipping transition 798
Skipping transition 811
Skipping transition 833
Skipping transition 840
Skipping transition 861
Skipping transition 877
Skipping transition 880
Skipping transition 884
Skipping transition 886
Skipping transition 887
Skipping transition 908
Skipping transition 909
Skipping transition 920
Skipping transition 925
Skipping transition 930
Skipping transition 945
Skipping transition 960
Skipping transition 1014
Skipping transition 1046
Skipping transition 1054
Skipping transition 1057
Skipping transition 1061
Skipping transition 1062
Skipping transition 1063
Skipping transition 1066
Skipping transition 1078
Skipping transition 1079
Skipping transition 1084
Skipping transition 1144
Skipping transition 1171
Skipping transition 1180
Skipping transition 1219
Skipping transition 1248
Skipping transition 1257
Skipping transition 1276
Skipping transition 1277
Skipping transition 1285
Skipping transition 1296
Skipping transition 1326
Skipping transition 1329
Skipping transition 1339
Skipping transition 1360
Skipping transition 1364
Skipping transition 1384
Skipping transition 1386
Skipping transition 1424
Skipping transition 1464
Skipping transition 1471
Skipping transition 1482
Skipping transition 1494
Skipping transition 1523
Skipping transition 1526
Skipping transition 1528
Skipping transition 1563
Skipping transition 1619
Skipping transition 1626
Skipping transition 1639
Skipping transition 1688
Skipping transition 1704
Skipping transition 1705
Skipping transition 1725
Skipping transition 1750
Skipping transition 1780
Skipping transition 1786
Skipping transition 1814
Skipping transition 1821
Skipping transition 1832
Skipping transition 1851
Skipping transition 1852
Skipping transition 1868
Skipping transition 1873
Skipping transition 1876
Skipping transition 1883
Skipping transition 1887
Skipping transition 1893
Skipping transition 1915
Skipping transition 1934
Skipping transition 1969
Skipping transition 1972
Skipping transition 1998
Skipping transition 2020
Skipping transition 2034
Skipping transition 2051
Skipping transition 2053
Skipping transition 2060
Skipping transition 2061
Skipping transition 2065
Skipping transition 2076
Skipping transition 2083
Skipping transition 2095
Skipping transition 2113
Skipping transition 2125
Skipping transition 2144
Skipping transition 2170
Skipping transition 2172
Skipping transition 2173
Skipping transition 2175
Skipping transition 2179
Skipping transition 2202
Skipping transition 2205
Skipping transition 2236
Skipping transition 2249
Skipping transition 2268
Skipping transition 2284
Skipping transition 2313
Skipping transition 2319
Skipping transition 2327
Skipping transition 2334
Skipping transition 2348
Skipping transition 2352
Skipping transition 2404
Skipping transition 2409
Skipping transition 2419
Skipping transition 2441
Skipping transition 2449
Skipping transition 2455
Skipping transition 2494
Skipping transition 2506
Skipping transition 2513
Skipping transition 2516
Skipping transition 2524
Skipping transition 2534
Skipping transition 2551
Skipping transition 2554
Skipping transition 2599
Skipping transition 2623
Skipping transition 2643
Skipping transition 2669
Skipping transition 2671
Skipping transition 2681
Skipping transition 2684
Skipping transition 2686
Skipping transition 2725
Skipping transition 2731
Skipping transition 2772
Skipping transition 2776
Skipping transition 2787
Skipping transition 2796
Skipping transition 2808
Skipping transition 2835
Skipping transition 2841
Skipping transition 2869
Skipping transition 2874
Skipping transition 2910
Skipping transition 2929
Skipping transition 2968
Skipping transition 2972
Skipping transition 2979
Skipping transition 2983
Skipping transition 2984
Skipping transition 2988
Skipping transition 2995
Skipping transition 3005
Skipping transition 3006
Skipping transition 3026
Skipping transition 3031
Skipping transition 3046
Skipping transition 3048
Skipping transition 3056
Skipping transition 3068
Skipping transition 3101
Skipping transition 3102
Skipping transition 3109
Skipping transition 3174
Skipping transition 3175
Skipping transition 3213
Skipping transition 3236
Skipping transition 3256
Skipping transition 3258
Skipping transition 3270
Skipping transition 3287
Skipping transition 3290
Skipping transition 3302
Skipping transition 3317
Skipping transition 3341
Skipping transition 3361
Skipping transition 3368
Skipping transition 3380
Skipping transition 3417
Skipping transition 3429
Skipping transition 3441
Skipping transition 3466
Skipping transition 3470
Skipping transition 3477
Skipping transition 3489
Skipping transition 3503
Skipping transition 3513
Skipping transition 3521
Skipping transition 3523
Skipping transition 3535
Skipping transition 3539
Skipping transition 3548
Skipping transition 3569
Skipping transition 3598
Skipping transition 3603
Skipping transition 3645
Skipping transition 3651
Skipping transition 3669
Skipping transition 3684
Skipping transition 3686
Skipping transition 3692
Skipping transition 3707
Skipping transition 3710
Skipping transition 3742
Skipping transition 3779
Skipping transition 3780
Skipping transition 3786
Skipping transition 3805
Skipping transition 3807
Skipping transition 3810
Skipping transition 3833
Skipping transition 3874
Skipping transition 3884
Skipping transition 3907
Skipping transition 3914
Skipping transition 3939
Skipping transition 3960
Skipping transition 3963
Skipping transition 3972
Skipping transition 3990
Skipping transition 4006
Skipping transition 4016
Skipping transition 4022
Skipping transition 4024
Skipping transition 4031
Skipping transition 4046
Skipping transition 4052
Skipping transition 4056
Skipping transition 4078
Skipping transition 4088
Skipping transition 4115
Skipping transition 4117
Skipping transition 4123
Skipping transition 4131
Skipping transition 4151
Skipping transition 4178
Skipping transition 4180
Skipping transition 4181
Skipping transition 4182
Skipping transition 4185
Skipping transition 4197
Skipping transition 4219
Skipping transition 4235
Skipping transition 4240
Skipping transition 4260
Skipping transition 4286
Skipping transition 4307
Skipping transition 4309
Skipping transition 4310
Skipping transition 4319
Skipping transition 4338
Skipping transition 4339
Skipping transition 4341
Skipping transition 4358
Skipping transition 4366
Skipping transition 4380
Skipping transition 4391
Skipping transition 4392
Skipping transition 4409
Skipping transition 4414
Skipping transition 4431
Skipping transition 4435
Skipping transition 4442
Skipping transition 4444
Skipping transition 4459
Skipping transition 4463
Skipping transition 4467
Skipping transition 4471
Skipping transition 4496
Skipping transition 4503
Skipping transition 4517
Skipping transition 4526
Skipping transition 4528
Skipping transition 4547
Skipping transition 4553
Skipping transition 4560
Skipping transition 4584
Skipping transition 4606
Skipping transition 4614
Skipping transition 4639
Skipping transition 4642
Skipping transition 4649
Skipping transition 4664
Skipping transition 4666
Skipping transition 4669
Skipping transition 4674
Skipping transition 4679
Skipping transition 4682
Skipping transition 4698
Skipping transition 4700

Skipping transition 4738
Skipping transition 4762
Skipping transition 4772
Skipping transition 4773
Skipping transition 4777
Skipping transition 4781
Skipping transition 4792
Skipping transition 4823
Original xpanded transitions: 16461
Removed 6 duplicate transitions
Final expanded of transitions: 16455

Upload expanded transitions to database

In [51]:
len(expanded_transitions)

104729

In [48]:
pd.DataFrame(expanded_transitions, columns=trans_cols)

       origActor  origTarget  newActor  newTarget
0             67        2970         0       2966
1            235        1890      1892          0
2            441         445       441        444
3              0        2671      2539       2665
4            239         335       327        291
...          ...         ...       ...        ...
16456         59        3288        59        106
16457        684          -1       858          0
16458       4434        4426         0       4467
16459       4434        4453         0       4467
16460       4434        4451         0       4467

[16461 rows x 4 columns]

## Search through Tech tree

Find naturally-occurring objects -- these are the roots of the Tech tree:

In [ ]:
natural_obj_df = objects[objects['mapChance'] > 0][['id', 'name']]
natural_objs = natural_obj_df.id

len('Seeding tree with %i naturally-occurring objects' % len(natural_objs))
natural_obj_df

Helper function: Find all transitions where a given object is an ingredient

In [ ]:
# Initalize with natural objects
ingredients = natural_objs
previously_visited = natural_objs

# o = 33
# transitions[(transitions.origActor == o) | (transitions.origTarget == o)]