# Build Tech Tree

This file turns the transition data into a tree strucutre and calculates the depth of each object in the tech tree.

In [13]:
import os, re, glob, json
from os.path import join as opj
import numpy as np
import pandas as pd
import json
import networkx as nx

import ohol_transitions as trans
import ohol_categories as cat
import ohol_objects as obj

## Find object and transition files:

Transitions:

In [2]:
gsearch = lambda *args: glob.glob(opj(*args))
data_dir = '../../OneLifeData7/'
trans_dir  = opj(data_dir, 'transitions')
trans_files = gsearch(trans_dir, '*.txt')

print(*trans_files[:5], sep='\n')

../../OneLifeData7/transitions/-1_2574.txt
../../OneLifeData7/transitions/0_702.txt
../../OneLifeData7/transitions/314_235.txt
../../OneLifeData7/transitions/2165_2165.txt
../../OneLifeData7/transitions/0_1692.txt

Objects:

In [3]:
obj_dir = opj(data_dir, 'objects')
obj_files = gsearch(obj_dir, '*txt')

print(*obj_files[:5], sep='\n')

../../OneLifeData7/objects/3644.txt
../../OneLifeData7/objects/1053.txt
../../OneLifeData7/objects/1735.txt
../../OneLifeData7/objects/3122.txt
../../OneLifeData7/objects/2228.txt

## Helper Functions:

In [4]:
##helper function that finds the ingredients given the product from the transition dictionary
def find_ingredients(value):
    ingredient_list = []
    for idx in d.items():
        for item in d[idx[0]].items():
            if item[0] != 'category':
                if value in item[1]:
                    ingredient_list.append(item[0])
    return list(set(ingredient_list))

In [5]:
##helper function that returns the category for a given object
def find_parent(mydict, child):
    for i in mydict.keys():
        if child in mydict[i]:
            return i

In [6]:
def split_dataframe_rows(df,column_selectors):
    # we need to keep track of the ordering of the columns
    def _split_list_to_rows(row,row_accumulator,column_selector):
        split_rows = {}
        max_split = 0
        for column_selector in column_selectors:
            split_row = row[column_selector]
            split_rows[column_selector] = split_row
            if len(split_row) > max_split:
                max_split = len(split_row)
        for i in range(max_split):
            new_row = row.to_dict()
            for column_selector in column_selectors:
                try:
                    new_row[column_selector] = split_rows[column_selector].pop(0)
                except IndexError:
                    new_row[column_selector] = ''
            row_accumulator.append(new_row)

    new_rows = []
    df.apply(_split_list_to_rows,axis=1,args = (new_rows,column_selectors))
    new_df = pd.DataFrame(new_rows, columns=df.columns)
    return new_df

In [7]:
##Helper function that finds the key associated with a certain value in the dictionary
def find_value(dictionary, value):
    mylist = []
    for item in dictionary.items():
        if value == item[1]:
            mylist.append(item[0])
    return mylist

In [8]:
def cat(name):
    if name in cat_dict:
        return True
    else:
        return False

## Parse Categories and Objects

Build a dictionary of {object: mapChance} pairs, and identify category names

In [9]:
str_extract = lambda pattern, s: re.search(pattern, s).group(0)
int_extract = lambda pattern, s: int(str_extract(pattern, s))
cat_names = {}
obj_dict = {}
all_obj = {}
for o in obj_files:
    is_obj = re.search('nextObjectNumber|groundHeat', o) is None
    
    if is_obj:
        o_num = int_extract('[0-9]+(?=.txt)', o)
        o_data = obj.read_obj(o_num)
        obj_dict[o_num] = o_data['mapChance']
        if '@' in o_data['name'] :
            cat_names[o_num] = o_data['name']
        else:
            all_obj[o_num] = o_data['name']

Build a dictionary of {category: children} pairs

In [10]:
l = os.listdir('../../OneLifeData7/categories')
cat_arr = [int_extract('[0-9]+(?=.txt)', o) for o in l]
len(cat_arr)

230

In [11]:
perhaps_list = list()
for i in all_obj.values():
    if 'Perhaps' in i:
        perhaps_list.append(find_parent(all_obj, i))
perhaps_list

[2328, 3221, 3233, 2095, 2811]

In [14]:
#update: if parent is not a @category name, add parent name to child list
cat_dict = {}
for i in cat_arr:
    children = cat.is_cat(i)
    if (i in cat_names):
        cat_dict[i] = children  
    else:
        cat_dict[i] = list(np.append(i, children))
          
    
len(cat_dict)

230

determine natural objects

In [15]:
nat_obj = []
for item in obj_dict.items():
    if item[1] != 0 :
        nat_obj.append(item[0])

In [17]:
for o in nat_obj:
    print('%i: %s' % (o, obj.obj_name(o)))

3888: Arctic Expert Way Stone - +biomeSet3 gridPlacement20 &20 &p3 &p0 +expertFind
706: Ice Hole
100: White Pine Tree with Needles
713: Indigo
707: Antarctic Fur Seal
2765: Sugarcane
2567: Sand Deposit
2174: Turkey
714: Rose Madder
1323: Wild Boar
674: Limestone
1874: Wild Mango Tree
4272: Rubber Tree with Pepper Vine
729: Alum
703: Penguin
942: Muddy Iron Vein - gridPlacement40 &40
63: Maple Tree -Branch
1435: Bison
764: Rattle Snake
2504: Malachite
49: Juniper Tree
2466: Dark Nosaj - +normalOnly
1184: Wild Squash Plant
161: Rabbit Hole -hiding &single
1157: Wild Bean Plant
4239: Seeding Wild Dill
65: Lombardy Poplar Tree -Branch
760: Dead Tree
3030: Natural Spring - gridPlacement40 evePrimaryLoc
1140: Wild Potato
99: White Pine Tree
761: Barrel Cactus
211: Fertile Soil Deposit
1020: Snow Bank
2515: Calamine
630: Bear Cave
3001: Electrum Ore
2135: Rubber Tree
418: Wolf
4221: Wild Cucumber Plant
791: Monolith
1013: Wild Rose with Fruit
805: Wild Onion
50: Milkweed
804: Burdock
769: Wild Horse
153: Yew Tree -Branch
1203: Wild Cabbage
2285: Tarry Spot - gridPlacement40
531: Mouflon
121: Tule Reeds
1890: Lapis Lazuli
1891: Cinnabar
1107: Teosinte
2142: Banana Plant
2156: Mosquito Swarm
4269: Bay Tree
530: Bald Cypress Tree
242: Ripe Wheat
2140: Hot Spring
136: Sapling
2800: Wild Tomato Plant
36: Seeding Wild Carrot
2141: Oil Palm
527: Willow Tree
3887: Jungle Expert Way Stone - +biomeSet3 gridPlacement20 &20 +expertFind
3313: Wild Grape Plant
32: Big Hard Rock
2804: Wild Pepper Plant
133: Flint
33: Stone
2540: Niter
3886: Desert Expert Way Stone - +biomeSet3 gridPlacement20 &20 +expertFind
291: Flat Rock - empty
1261: Canada Goose Pond with Egg
4251: Wild Garlic
125: Clay Deposit
680: Gold Vein
30: Wild Gooseberry Bush
2557: Glasswort

## Parse transitions

In [20]:
trans_keys = ['origActor', 'newActor', 'origTarget', 'newTarget']
trans_list = []
for f in trans_files:
    trans_dict = trans.read_transition(f)
    trans_objs = [trans_dict[k] for k in trans_keys]
    
    # Are any of these categories?
    trans_cats = [cat(o) for o in trans_objs]
    trans_cat_str = ''.join(re.findall('[A-Z]', str(trans_cats)))
    trans_dict['isCat'] = trans_cat_str
    
    trans_list.append(trans_dict)

Assemble into dataframe:

In [99]:
trans_df = pd.DataFrame(trans_list)
trans_df['isDecay'] = trans_df['autoDecaySeconds'] > 0
trans_df = trans_df[['origActor', 'origTarget', 'newActor', 'newTarget', 'isDecay', 'isTool', 'isCat']]

trans_df.head()

   origActor  origTarget  newActor  newTarget  isDecay  isTool isCat
0         -1        2574         0       2578     True   False  FFFF
1          0         702       425        695    False   False  FFFF
2        314         235         0        317    False    True  FFFF
3       2165        2165       235       3699    False    True  FFFF
4          0        1692      1719       1706    False   False  FFFF

Count each type of category transition:

In [23]:
cat_counts = trans_df.groupby('isCat')['isTool'].agg('count').reset_index()
cat_counts = cat_counts.rename(columns = {'isTool': 'n'})

Check examples of category transitions:

In [24]:
cat_trans = trans_df.groupby('isCat').first().reset_index()
cat_trans = pd.merge(cat_counts, cat_trans, on = 'isCat')
cat_trans = cat_trans.sort_values('n', ascending = False).reset_index(drop=True)
cat_trans

   isCat     n  origActor  origTarget  newActor  newTarget  isDecay  isTool
0   FFFF  3818         -1        2574         0       2578     True   False
1   TTFF   185       1127        2883      1127       2879    False    True
2   FFTT   147        516         519       520        519    False   False
3   FFTF    76        209         412       210        512    False   False
4   TFFF    55        853        3374       852       1465    False   False
5   TFFT    38        324          -1       239        322    False    True
6   FTTF    25          0        1069       969       1012    False   False
7   FFFT    20        812         665         0       2233    False    True
8   TTTT    13        394        1802       394       1806    False    True
9   FTFF     7        568          63      1829         63    False   False
10  TFTF     7       1949        1950         0       1947    False    True
11  TFTT     7       3685        3681       235       3681    False    True
12  FTTT     6          0        1033      1037       1034    False   False
13  TTFT     6        964        1015       964       1016    False    True
14  TTTF     6        849         903       849        213    False    True
15  FTFT     1          0        1695      1724       1749    False   False

## Build Tech Tree and calculate Depth

### Build a dataframe of transitions:

In [16]:
tech_df = pd.DataFrame()
for i in trans_files:
    a = trans.read_transition(opj(trans_dir, i))
    tech_df = pd.concat([tech_df, pd.DataFrame.from_records(a, index=[0])], sort=True)
tech_df.head()

,actorMinUseFraction,autoDecaySeconds,desiredMoveDist,isTool,lastUseActor,lastUseTarget,move,newActor,newActorName,newTarget,newTargetName,noUseActor,noUseTarget,origActor,origActorName,origTarget,origTargetName,reverseUseActor,reverseUseTarget,targetMinUseFraction
0,0.0,10,1.0,False,False,False,0.0,0,Empty,2578,Cool Glass,0.0,0.0,-1,Empty,2574,Molten Glass,0.0,0.0,0.0
0,0.0,0,1.0,False,False,False,0.0,425,Wolf Skin,695,Wolf Crown,NaN,NaN,0,Empty,702,Wolf Crown with Wolf Skin,0.0,0.0,0.0
0,NaN,0,NaN,True,False,False,NaN,0,Empty,317,Crucible with Iron,NaN,NaN,314,Wrought Iron,235,Clay Bowl - empty,NaN,NaN,NaN
0,0.0,0,1.0,True,False,False,0.0,235,Clay Bowl - empty,3699,Bowl with Raw Rubber Balls,0.0,0.0,2165,Bowl with Raw Rubber Ball,2165,Bowl with Raw Rubber Ball,0.0,1.0,0.0
0,0.0,0,1.0,False,False,False,0.0,1719,Hungry Schnauser Puppy - held,1706,Schnauser with Puppies -2,0.0,0.0,0,Empty,1692,Schnauser with Puppies -3,0.0,0.0,0.0

Only keeps origActor, origTarget, newActor, newTarget

In [17]:
tech_tree_df = tech_df[['origActor','origTarget','newActor','newTarget']].reset_index(drop = True)
tech_tree_df.head()

   origActor  origTarget  newActor  newTarget
0         -1        2574         0       2578
1          0         702       425        695
2        314         235         0        317
3       2165        2165       235       3699
4          0        1692      1719       1706

### Expand on categories

In [18]:
tech_tree_newdf = tech_tree_df.copy().astype('object')
for i in range(0,len(tech_tree_newdf)):
    for j in ['origActor','origTarget','newActor','newTarget']:
        curr_cell = tech_tree_df.iloc[i][j]
        if curr_cell in cat_dict:
            
            tech_tree_newdf.at[i,j] = list(cat_dict[curr_cell])

In [19]:
tech_tree_newdf = tech_tree_newdf.query('(newActor != 0) or (newTarget != 0)') #get rid of products = [0,0]

In [20]:
tech_tree_newdf.loc[tech_tree_newdf.newTarget == tech_tree_newdf.origActor, 'newTarget'] = ''
tech_tree_newdf.loc[tech_tree_newdf.newTarget == tech_tree_newdf.origTarget, 'newTarget'] = ''
tech_tree_newdf.loc[tech_tree_newdf.newActor == tech_tree_newdf.origTarget, 'newActor'] = ''
tech_tree_newdf.loc[tech_tree_newdf.newActor == tech_tree_newdf.origActor, 'newActor'] = ''

In [21]:
tech_tree_newdf.head(n = 20)

,origActor,origTarget,newActor,newTarget
0,-1,2574,0,2578
1,0,702,425,695
2,314,235,0,317
3,2165,2165,235,3699
4,0,1692,1719,1706
5,0,3085,2228,3086
6,-1,2206,0,2208
7,455,504,0,811
8,1619,2563,0,2564
9,0,1686,1717,1696
10,516,"[82, 346, 83, 3029]",520,
11,693,772,0,794
12,"[324, 2509, 2519, 3005]",-1,239,"[322, 2508, 2523, 3008]"
13,-1,2560,0,2561
14,2097,-1,2091,2102
15,502,3191,,2571
16,602,59,0,2713
17,333,67,0,334
18,2515,318,0,2517
19,-1,1727,0,

In [22]:
len(tech_tree_newdf)

4302

In [23]:
tech_df.query('(newTarget in @perhaps_list) or (newActor in @perhaps_list)')

,actorMinUseFraction,autoDecaySeconds,desiredMoveDist,isTool,lastUseActor,lastUseTarget,move,newActor,newActorName,newTarget,newTargetName,noUseActor,noUseTarget,origActor,origActorName,origTarget,origTargetName,reverseUseActor,reverseUseTarget,targetMinUseFraction
0,0.0,60,1.0,False,False,False,0.0,0,Empty,3221,Perhaps a Pumpkin,0.0,0.0,-1,Empty,1195,Blooming Squash Plant,0.0,0.0,0.0
0,0.0,60,1.0,False,False,False,0.0,0,Empty,3233,Perhaps a Squash,0.0,0.0,-1,Empty,3232,Blooming Pumpkin Plant,0.0,0.0,0.0
0,0.0,5,1.0,False,False,False,0.0,0,Empty,2095,Perhaps a Fish,0.0,0.0,-1,Empty,2101,Cast Fishing Pole,0.0,0.0,0.0
0,0.0,10,1.0,False,False,False,0.0,0,Empty,2328,Perhaps Oil,0.0,0.0,-1,Empty,2303,Firing Oil Drilling Rig,0.0,0.0,0.0
0,0.0,10,1.0,False,False,False,0.0,0,Empty,2328,Perhaps Oil,0.0,0.0,-1,Empty,2331,Firing Oil Drilling Rig - extended,0.0,0.0,0.0
0,0.0,5,1.0,False,False,False,0.0,0,Empty,2811,Perhaps some Shrimp,0.0,0.0,-1,Empty,2810,Cast Net,0.0,0.0,0.0

In [24]:
mydf = tech_tree_newdf.copy()
edge_cases = []
newdf = pd.DataFrame(columns = ['origActor','origTarget','newActor','newTarget'])
for i in range(0,len(mydf)):
    curr_line = mydf.iloc[i]
    target_columns = []
    for j in ['origActor','origTarget','newActor','newTarget']:
        if type(curr_line[j]) is list:
            target_columns = np.append(target_columns,j)
            
    #nothing in the equation has a category id       
    if (len(target_columns) == 0):
        newdf = newdf.append(curr_line.to_frame().T) #append to dataframe
        
    #category id only in product: category id is actually item id
    elif (len(target_columns) == 1) and ((target_columns=='newTarget') or (target_columns=='newActor')):
        if (target_columns=='newTarget'): #if the product is in target
            if curr_line['newTarget'][0] in perhaps_list: #special cases when the product is 'Perhaps xxx'
                curr_line['newTarget'] = curr_line['newTarget'][1:]
                for k in curr_line.values: #first turn every cell into a list obj
                    if type(k) is int:
                        k = [k]
                sub = split_dataframe_rows(curr_line.to_frame().T, target_columns) #split row
                newdf = newdf.append(sub)#append to dataframe
            else: #normal cases
                curr_line['newTarget'] = curr_line['newTarget'][0] #only keep the first element of the list
                newdf = newdf.append(curr_line.to_frame().T) #append to dataframe
        elif (target_columns=='newActor'): #if the product is in actor
            curr_line['newActor'] = curr_line['newActor'][0]
            newdf = newdf.append(curr_line.to_frame().T) #append to dataframe
        
    #more categories in equation and they match in lengths
    else:
        length = len(curr_line[target_columns[0]])
        if all(len(lst) == length for lst in curr_line[target_columns]): #check that they are of the same lengths
            for k in curr_line.values: #first turn every cell into a list obj
                if type(k) is int:
                    k = [k]
            sub = split_dataframe_rows(curr_line.to_frame().T, target_columns) #split row
            newdf = newdf.append(sub)#append to dataframe
        else:
            edge_cases = np.append(edge_cases, i) #edge cases are not included in newdf

In [25]:
newdf = newdf.query('(newActor != "") or (newTarget != "")') #remove situations where nothing is produced

In [26]:
len(newdf)

8160

In [27]:
edge = tech_tree_newdf.iloc[edge_cases].copy()
edge = edge.query('newTarget != 1947') #ignore the cards for now
edge

,origActor,origTarget,newActor,newTarget
275,"[210, 382]","[1802, 1803, 1804, 1805, 1872, 2723, 3069, 4311]",,"[1806, 1809, 1808, 1807, 1873, 2724, 3070, 4312]"
407,"[210, 382]","[1790, 1791, 1799, 1798, 1868, 2721, 3071, 4308]",,"[1792, 1793, 1801, 1800, 1869, 2722, 3072, 4309]"
438,"[210, 382]","[1034, 1056, 1055]",,"[1035, 1057, 1058]"
727,"[135, 560]",1015,,"[1016, 1025, 1026]"
1834,"[139, 850, 857]","[1136, 1101]",,213
1973,59,"[2226, 2245]",0,"[2220, 2240, 2270, 2280, 2314, 2305, 2312, 235..."
2443,"[71, 334, 34, 560]","[2982, 2986, 2985]",,2957
2569,"[912, 1000]","[977, 978, 979, 980, 981, 982, 983, 984]",917,
2595,"[210, 382]","[157, 158, 159, 231]",,127
3448,"[210, 382]","[1017, 1042, 1045]",,"[1018, 1043, 1046]"
3946,"[210, 382]","[1207, 1192, 1109, 216, 214, 396, 2829, 2839, ...",,1208
4343,"[135, 560]","[1037, 1053, 1054]",,"[1039, 1040, 1041]"
4365,"[210, 382]","[1312, 1313, 2121]",,382

In [28]:
cols = ['origActor','origTarget','newActor','newTarget']
edge_df = pd.DataFrame(columns = cols)

for j in range(0, len(edge)):
    lengths = [1,1,1,1]
    curr_line = edge.iloc[j]
    for i in range(0,len(curr_line.values)):
        if type(curr_line[i]) is list:
            lengths[i] = len(curr_line[i])

    num_repeat = np.product(np.unique(lengths))
    mat = -np.ones([num_repeat, 4]).astype('object')
    for i in range(0,4):
        if lengths[i] != max(lengths):
            mat[:,i] = np.repeat(curr_line[i], num_repeat/lengths[i])
        else:
            mat[:,i] = curr_line[i]*int(num_repeat/lengths[i])
    sub = pd.DataFrame(mat, columns = cols)
    edge_df = edge_df.append(sub)

In [29]:
edge_df.head(n= 10)

  origActor origTarget newActor newTarget
0       210       1802               1806
1       210       1803               1809
2       210       1804               1808
3       210       1805               1807
4       210       1872               1873
5       210       2723               2724
6       210       3069               3070
7       210       4311               4312
8       382       1802               1806
9       382       1803               1809

In [30]:
newdf = newdf.append(edge_df)
len(newdf)

8306

## Calculate Depth

make a list of items

In [31]:
max_item_id = max(list(all_obj.keys()))
print(max_item_id)

4347

In [32]:
#replace negative values
newdf = newdf.replace(-1, max_item_id+1)
newdf = newdf.replace(-2, max_item_id+2)

In [33]:
#make a list of all objects
items = np.arange(max_item_id+3)
print(max(items))

4349

### create a nested dictionary of ingredients - products pair

In [34]:
#dictionary problem has been fixed. Ingredients will not override
#Update: also expands on situations where a category is in one side of the transition
d = {}
for item in all_obj:
    d[item] = {}
    recipy = newdf.query('(origActor == @item) or (origTarget == @item)')

    if len(recipy):
        for j in range(0,len(recipy)):
            ingredients = recipy.iloc[j].tolist()[0:2]
            ingredients.remove(item)
            ingredient = ingredients[0]
            products = recipy.iloc[j].tolist()[2:4]
            if "" in products:
                products.remove("")
            if ingredient in d[item].keys(): #prevent override
                d[item][ingredient] = list(map(int, set(np.append(d[item][ingredient], products))))
            else:
                d[item][ingredient] = products

### loop over all pairs

In [53]:
#initialize depth
orig_depth = np.inf
depth = {}
transition_from = {} #this calculates the shortest path
all_products = {} #this calculates all paths
for item in items:
    if item in nat_obj:
        depth[item] = 0
        transition_from[item] = [item]
    else:
        depth[item] = orig_depth
        transition_from[item] = []
    all_products[item] = []
depth[0] = 0 #empty hand
depth[len(depth)-1] = 0 #empty ground
depth[len(depth)-2] = 0 #empty (for animals)

In [54]:
root_items = nat_obj
order_list = []
adj_dict = {}
while len(root_items):
    #take an item from root and remove it
    item = root_items[0]
    root_items = np.delete(root_items,0)

    #put all products associated with this item into root
    for key in d[item]: #looping through other ingredients
        #calculate the depths of the products
        for product in d[item][key]:

            #if this product is made of known-depth ingredients, add this product to root_items list
            if depth[product] > depth[item] + depth[key] + 1:
                depth[product] = depth[item] + depth[key] + 1  
                
                all_products[key] = np.append(all_products[key],product)
                all_products[item] = np.append(all_products[item],product)
                transition_from[product] = product
                transition_from[product] = np.append(transition_from[product], list(set(transition_from[key])))
                transition_from[product] = np.append(transition_from[product], list(set(transition_from[item])))
#                 print(transition_from[product])
                adj_dict[product] = [item, key]

                root_items = np.append(root_items, product)
                order_list = np.append(order_list,product)

In [37]:
depth.values()

dict_values([0, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 0, 1, 0, 0, 1, 5, 0, inf, inf, 2, 3, inf, inf, inf, inf, 1, inf, inf, 1, 0, 0, 1, 2, 1, 2, 3, 2, 1, 3, 7, inf, 1, 2, 0, 1, 0, 1, 3, 3, 5, 13, 15, 17, 11, 17, 21, inf, 24, 26, 28, 27, inf, 45, 63, inf, 46, 47, 35, 36, 37, inf, inf, 11, inf, inf, inf, 1, inf, inf, 0, 0, inf, inf, inf, inf, inf, 13, 7, 9, 10, 11, 25, 23, 24, 19, 29, 30, 31, inf, 30, inf, 0, 3, 2, 3, 0, 1, 5, 11, inf, inf, 3, 1, 0, 5, 3, 0, 3, 2, 3, 7, 1, 3, 2, 3, inf, 7, 13, 21, 15, 2, 11, 33, 0, 23, 21, 22, 17, 15, 16, 15, 0, 17, 20, 3, 2, 1, 5, 26, 25, inf, 29, 28, 4, 27, 30, 28, 31, 29, 32, 29, 34, 33, 34, 38, 38, 85, 84, inf, 88, 87, 92, 96, 6, 7, 30, 31, 86, 276, 166, 131, 201, 236, 136, 69, 104, 139, 39, 179, 135, 136, 0, 277, 13, 18, 118, 19, 119, 119, 120, 4, inf, inf, 1, 2, 3, 5, 6, 15, 115, 116, 6, inf, 2, 3, 98, 99, 12, 18, 7, 11, 98, 0, 117, 3, 104, inf, 30, 49, 80, 81, 105, 205, 100, 133, 135, 135, 139, 104, 141, 106, 137, 137, 139, 305, 406, 412, 447, 410, 445, 441, 443, 488, 492, 523, 494, 525, 527, 529, 1, inf, 36, 86, 97, 10, 6, 102, 143, 246, 12, 4, 0, 7, 92, 93, 14, 101, 6, 102, 94, 103, 104, 100, 265, 391, 341, inf, 405, 404, 405, 406, 405, 406, 406, 101, inf, 201, 100, 199, 301, 309, 702, 703, 701, 702, 704, 603, 611, 1004, 1003, 1004, 2018, 2019, 2020, 2024, 1005, 8, inf, 2027, 2027, 2025, 2026, 2025, 2026, 2026, 2028, 2072, inf, inf, inf, inf, inf, inf, inf, inf, inf, 43, 44, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 99, inf, inf, inf, inf, inf, inf, 125, 126, 122, 124, 233, inf, 1, 15, inf, 116, 115, 117, 118, 103, inf, 1, inf, 1, inf, 2, 1, 16, 8, inf, inf, inf, inf, 85, inf, 0, inf, 34, 36, 37, 41, 42, 42, 139, 1, 35, 35, inf, inf, inf, inf, 15216, inf, inf, inf, inf, inf, 1005, 1013, 1006, 1007, 5060, 4046, 6074, 7088, 8102, 6075, 7089, 4047, 8103, 5061, 5062, 4048, 6076, 7090, 12248, 8104, 32602, 32606, 5066, 6082, 7184, 11233, 12247, 7095, 8111, 15207, 15208, 15220, 34635, 34636, 23, 34659, inf, inf, inf, inf, inf, inf, inf, 49880, 84540, 15217, 8, 4, inf, inf, inf, inf, inf, 34, inf, 1211, 11150, 9126, 9133, 9116, 9117, 9118, 9122, 9123, 20270, 20270, 20269, inf, 13172, 36, 35, 37, 99, inf, 37, 41, 45, 92, 93, inf, 91, 92, 94, inf, inf, inf, inf, 0, inf, inf, 0, 0, 1, inf, 45, inf, 35, 36, 35, 34, 43, 151, 154, 162, 152, 153, 20268, 102, 104, 14208, 14207, 14209, inf, 9132, 9133, 9134, 5074, 7, 14215, 20353, 20359, inf, 40, 39, 40, 20400, 20401, 40707, 41721, 20401, 20483, 20409, 20410, 35, inf, 260, 41983, 41982, 41983, 34665, 306599, 153299, 459899, 41725, 348325, 501625, 195025, 40985, 40986, 40995, 40994, 20624, inf, 20625, inf, 20620, 20625, 62343, 62342, 20511, 367, 150, 259, 46, 155, 47, 156, inf, 267, 260, 151, inf, inf, 268, 42088, 379, 378, 9136, 9137, inf, 9135, 9136, 12, 113, 9598, 213, inf, inf, 20406, inf, 0, 3, 37, inf, inf, 71, inf, 105, inf, 107, inf, 108, 109, 110, 106, 20405, inf, 1, 2, 3, 4, inf, inf, 4, 38, 72, 15333, 114, 115, 49853, 50053, 1, 9125, 38527, 9224, 38526, 54928, 115, 20400, inf, 602, 100710, 50656, 100510, 0, 99, 500, 600, 107, 499, 0, 10137, 10130, 10131, 10136, 10132, 10236, 10637, 10237, 10638, 10244, 10636, 11652, 12771, 12670, 12710, inf, 11655, 11756, 11695, 12669, 12770, 12709, 0, inf, 1, 0, 0, 4, 8, 9, 9, 106, 0, 0, 2, 2, 1, 1, 3, 3, 4, inf, inf, 49845, 501923, 501923, inf, inf, 0, 146, 147, 147, 149, 149, inf, 195173, 348473, 501773, 195323, 195323, 348623, 348623, inf, inf, inf, inf, inf, inf, 34, 20360, inf, 34, 23, inf, inf, inf, inf, inf, inf, 0, 0, 1, 2, 0, 20360, 20457, 15, 3, 0, 34952, 16, 14224, 14228, 34951, 34954, 20722, inf, 119493, 119492, 119495, inf, 18259, inf, 10739, inf, inf, 17, 18, 17, 9597, 0, 10639, 37637, 26996, 26997, 26998, 20361, 34, 132, inf, 9132, 20808, 20890, 0, 0, 2, 3, 1, 22291, 21277, 24319, 31416, 31415, 31426, 62843, 62844, inf, 125678, 94261, 125679, inf, 157096, 188513, 188514, 219931, 251348, 251349, 282766, 314183, 314184, 345601, 377018, 377019, 382094, 404402, 22307, 20, 19, 404404, 404406, 404405, 404403, 40549, 20461, inf, 84542, 4, 117, inf, 13, 14, 5, inf, 3032, 3034, 3033, 3038, 1014, 16, inf, 84541, 4049, 7096, 104, 107, 12, inf, inf, 137, inf, inf, inf, inf, 143, 30425, 30435, 30436, 30436, 30437, 30417, 31415, 24318, 31414, 31424, 31427, 31426, 31425, 31540, 24, 23, 22, 24, 25, 26, 31428, 31426, 31427, 31425, 260, 9383, inf, inf, inf, 5667, 5666, 4652, 12153, 13168, inf, 13167, 18836, 31085, inf, inf, inf, inf, 31086, inf, inf, inf, 61521, 61522, 92609, 92608, inf, inf, 39191, 51440, inf, 2029, inf, inf, inf, inf, 4, 5, 19, 119, 120, 122, 124, 0, 29407, 84336, 94474, 9, 13, 17, 11, 156, 255, 354, 358, inf, 717, 29, 368, 27, 45, 63, 372, 33, 259, inf, 25, 31, 23, 27, 41, 372, 390, 376, 709, 27, 31, 49, 15220, 30429, 17245, 32454, 46636, 61845, 46637, 61846, inf, 30425, 30426, 61512, 92599, 15221, 30430, 17246, 32455, 46637, 61846, 46638, 61847, inf, inf, 46308, inf, 36754, 43335, inf, inf, 255, inf, inf, inf, inf, 9158, 9160, 0, 1, 1, 5, 122, 222, 223, 0, 100, 106, 107, 108, 5, 5, 106, 107, 106, 107, 108, 108, 325, 224, 324, 326, 326, inf, 330, 330, 330, 122, 222, 223, 122, 222, 223, inf, inf, inf, 326, 326, 326, 326, 224, 224, 324, 324, 325, 325, 99, 20348, 21024, 21726, 20562, 21016, 20675, 20336, 9202, 13251, 20347, 9159, 1419, 9190, 13239, inf, 20335, 9416, 13465, 20561, 9878, 13927, 21023, 10580, 14629, 21725, 9870, 13919, 21015, 9529, 13578, 20674, 476, inf, inf, 1, inf, inf, 49953, 50052, 9, inf, inf, inf, inf, 9139, 0, 1, 15, 115, 116, 117, 118, 120, 121, inf, 103, 125, 126, 220, 267, 266, 1, inf, 76649, 76742, inf, 2, 34953, 34954, inf, 119494, 119495, 121, 123, 112, 108, 108, inf, 0, 2, 116, 117, 226, 16, 227, 9351, 9433, inf, inf, inf, 9451, 9452, 9453, 9457, inf, 0, 1, 2, 1, 15, 115, 116, inf, inf, inf, inf, inf, inf, inf, inf, 118, 117, inf, 216, 100, 101, 201, 300, 400, 499, inf, 1, 0, 1, 3, inf, 2, inf, 117, 118, 17, inf, inf, 120, 121, 119, 123, 124, 224, 240, 241, 0, 2, inf, 3, 17, 115, 116, 117, 119, 120, 61061, 76270, 118, 5, 101, 13, 100, 76372, 7099, 76494, inf, inf, 76493, 99, inf, 136, inf, 100, 146, 147, 148, 148, 76643, 83743, 83843, 83844, 83845, 83846, 83847, 83946, 342, 842, 1067, 1167, 224, 1214, 1215, 1314, 1314, 200, inf, 6, 264, 265, inf, inf, inf, inf, 0, 1, 262, 264, 263, inf, 266, 2294, 267, 2295, 4319, 4320, 4321, 4320, 4321, inf, 490, 491, inf, 47, 49, inf, 50, 48, 149, 206, 974, 212, 211, 260, 359, 447, 808, 809, 259, 807, 700, 925, 972, 973, 980, 979, 1027, 1028, 1127, inf, 1576, 1575, 1577, 210, 978, 102, 102, 696651, 543347, 4053, 4057, inf, inf, inf, 49881, 49882, 0, 37, 494, inf, 267, 1, 35, 34, 36, 35, 1, 2, 38, 39, 40, 264, 265, 20395, 266, 20396, 20396, 20404, 20405, inf, 266, 267, 268, 269, 493, 20854, 721, 20495, 20542, 21671, 21670, 21672, 492, 263, 980, 212, 1, 1, 35, 20443, 20441, 20405, inf, 35, 20442, 20441, 55413, 75819, 55314, 543497, 1, 76796, 76798, 97158, 76798, 97240, 76798, 76798, 1, 76895, 76797, 20406, 76944, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 34953, 119494, 27, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 0, 1, 79, 34, inf, 35, 69, 68, 70, 69, 71, 70, 306, 77, inf, 307, inf, inf, inf, 761, inf, inf, inf, 535, 308, inf, 80, 309, 50715, 50716, 50724, 206, 71084, 306, 20666, 20748, 41108, inf, 112294, 41209, inf, 41109, inf, 50616, 50715, 50617, 50815, inf, 50815, 305, 534, 81, 310, 760, 762, inf, 101431, 50616, 50716, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 37516, 30420, 23324, 23324, 37515, 30419, inf, inf, inf, inf, inf, 216003, 216002, inf, 8211, 8111, 8111, 8212, 8310, 8311, 23313, 7105, 14201, 7106, 14202, inf, inf, inf, inf, 8319, 8401, 8402, 8312, 8213, 49868, 84528, 119188, 153848, 162251, inf, 199768, 192672, 199767, 192671, 192673, 199769, 215999, 216001, inf, inf, inf, inf, inf, inf, inf, inf, inf, 216000, 199770, 192674, inf, 216001, 192675, 199771, 192673, 192672, 192674, 199769, 199768, 199770, 216000, 216002, 192675, 46637, 239315, 239313, 239314, 239312, 239316, 239314, 239313, 239315, inf, 8210, inf, 23324, 9, inf, 9, 35, inf, inf, 198, 196, inf, 15, 20516, 20517, 20518, 20519, 20512, 20465, 20514, 20515, 20514, 20627, 20625, 104, 20627, 20520, 20365, 20626, 20513, inf, 20661, 20662, 20662, 20663, inf, inf, 40953, 20404, 40952, 40951, 40950, 20405, 20406, 40953, 40952, 40951, 20402, inf, 20403, 81902, 81903, 81901, 81902, 81902, 81903, 81901, 81902, 81903, 81904, 81903, 81904, 81903, 81904, 40951, 40952, 81903, 81902, 81903, 81902, 81904, 81904, 81904, inf, 61354, 61355, 102306, 102305, 102306, 102305, 102307, 102307, 102307, 61353, 61354, 102305, 102304, 102305, 102304, 102306, 102306, 102306, 61356, 61355, 102307, 102306, 102307, 102306, 102308, 102308, 102308, 61356, 61357, 61356, 61357, 102308, 102309, 102307, 102308, 102308, 102309, 102309, 102310, 102309, 102310, 102309, 102310, 102307, 102308, 81905, 81937, inf, 81938, 20407, 61356, 61357, 61358, 61357, 20405, 61358, 61356, 20406, 61358, 20407, 20408, 20406, 61358, 61357, 61358, 61357, 61359, 61359, 61359, 20409, 20408, 20407, 61359, 61358, 61359, 61358, 61360, 61360, 61360, inf, 81904, 20407, 40953, 61358, inf, 61358, 61358, 61358, 61358, 61358, 61358, 40952, 40954, 40953, 20408, 61359, 61359, 61359, 61359, 61359, 61359, 61359, 40955, 40954, 20409, 61360, 61360, 61360, 61360, 61360, 61360, 61360, 40951, 40950, 40949, 81901, 81900, 81901, 81900, 81902, 81902, 81902, 81907, 41736, 41736, 41836, 41836, 41723, 41723, 41723, 41723, 41736, 41736, 41836, 41836, 41837, 41837, 41837, 41837, 41937, 41937, 41937, 41937, 41832, 41932, 41934, 41933, 83655, 83755, 83756, 125479, 125478, 125578, 125579, 125679, 125680, 167402, inf, 167503, 167502, 167603, 41838, 41722, 41722, 41722, 41722, 125482, 125481, 41041, 1, 1207, inf, inf, inf, inf, inf, inf, inf, 21303, 21304, 21305, inf, 29459, inf, 14214, 21310, 41561, 8, 41677, 268, 269, 40, 66912, 51703, inf, inf, 316, 316, inf, inf, inf, 41736, 41836, 41722, 41723, 41837, 41937, 0, 92002, 41938, 92003, 1, 92103, 112463, inf, inf, 624, 623, 622, 4673, 4672, 4671, inf, 0, 0, 99, 99, 101, 101, 537, 684, 636, inf, 538, inf, inf, 51317, 51419, 51419, 52002, 52044, 52043, 52042, 52044, 52043, 52042, 52627, 52626, 52625, inf, inf, inf, 636, inf, inf, 41947, 92001, inf, inf, inf, 6, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 9240, 62649, inf, inf, inf, inf, inf, inf, inf, 62648, 62650, inf, inf, inf, inf, inf, inf, 62649, 208, inf, inf, inf, inf, inf, inf, inf, inf, 308, 309, inf, 517, inf, inf, inf, inf, inf, inf, 518, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 516, 307, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 62652, 232, 7, inf, 250, inf, 254, 252, 252, 253, 253, 251, 253, 258, 305, 304, 306, 307, 305, 7, 5, 15, 102, 103, 62242, 62392, 62497, 62647, 62542, inf, inf, 225, inf, 203, 50716, 101631, 28380, 49854, 49953, inf, 12666, inf, inf, inf, inf, 0, 20360, 70214, 99, inf, 0, 0, 0, 1, 2, 1, 99, 181, 183, 365, 283, 464, 99, inf, inf, 1, 0, 1, 70215, 70216, 70216, 70217, 70317, 70782, 70786, 70984, 70787, 71066, 70869, 141739, 71068, 71067, 226280, 99, 0, 1, 34, 35, 36, 36, 203, 140, 39, 139, 221, 222, 223, 20583, 20683, 20685, 20683, 20684, 20685, 20684, 62159, 62259, 62306, 62307, 62406, inf, 62057, 41371, 502, inf, 1516, 2530, 4558, inf, 4559, 1517, 2531, 2532, 1518, 4560, 7, 15, 502, 501, 109, 72388, 212283, 262337, 262440, inf, 262490, inf, 243693, 7093, 79482, 164210, 164194, 132777, 101360, 69943, 262491, inf, inf, inf, 262490, 7108, 212283, 262337, 262440, 212284, 212283, 212275, 132792, 132776, 101359, 69942, 38525, 1519, 525985, 788476, 525986, 788477, 788478, 525987, 525986, 788477, 788485, 525994, 212286, 212285, 788482, 1314470, 1385340, 1385258, 212285, 212285, 212283, 262490, inf, inf, 262337, 262440, 212284, 262490, 212284, inf, 212283, 262337, inf, 262440, 19, 0, 263494, 263495, inf, 263503, 263495, 263496, 525987, 263494, 263495, 263495, 263496, 525987, 788478, 262494, 3544, 3545, 3546, 262490, 262491, 212283, 262491, 262492, 333362, 262491, inf, 262490, 212283, 731163, 212283, 731155, 651672, 651656, 620239, 588822, 557405, 525988, inf, inf, inf, 262337, 262440, inf, inf, 262337, 262440, 262490, 262337, 262440, 262492, 5065, 531053, 801807, 539161, 535614, 801808, 801654, 801757, 801810, 2239801, 1387886, inf, 1050969, 1050977, 1437940, 2239751, inf, 2239802, inf, inf, 20367, 212284, 262490, inf, 212283, 262440, 262337, inf, inf, 1405700, 13500939, inf, inf, 525987, 788478, 529534, 788478, 525987, 788478, 788478, 1576957, 4468382, inf, inf, 3942394, 2365436, 1576957, 8936765, 9725244, 3246159, 12971404, 2720171, 271719, 13772659, 14574470, 14574471, 105529, 211059, 422119, 437336, 13938276, 14740087, inf, inf, inf, 14740088, 14740088, inf, inf, inf, 2, inf, 1, 3, inf, 223, 4, 2, 2, 8, 11, 15, 118, 222, 3, 224, 120, 17, 13, inf, inf, inf, inf, 1174, 906, 904, 636, 634, 366, 364, 1175, 2350, 3525, 4700, 465, 564, 564, 611, 616, 615, 1228, 1229, 1841, 1842, 3685, 8386, inf, 8436, inf, 8438, 8437, 390607, inf, inf, inf, 8439, 8440, inf, inf, inf, 2, 0, 20363, inf, 38617, 58981, inf, inf, inf, 20361, 20362, 20363, 90398, 90399, inf, inf, 267348, 287709, 267347, 208365, 208364, 149382, 149381, 38616, 300, 570204, 525985, 525986, 525986, 525987, 212286, 212285, 212284, 262490, inf, 212283, 262440, 262337, 270595, 0, 200, 300, 701, 702, 701, 308, 700, 703, 99, 704, 0, 99, 200, 704, 701, 308, 700, 300, 702, 701, 703, 712, 759, 263250, 263251, 263195, 533791, 263195, 283716, inf, 567433, 533797, 1067583, 1601375, 2135167, 0, 101, 149, 20670, 20769, 20769, 20770, 20770, 1718, 20870, 20917, 21017, 21018, 284214, 285933, 284270, 1344448, 0, 2, 3, 53, 54, 153, 253, 20774, 20873, 20874, 0, 99, 198, 99, 100, 21375, 21475, 21876, 788478, 21875, 21483, 21877, 21876, 810355, 810356, 810455, 102, 202, 210, 297, 298, 299, 300, 534092, 12350, 12351, inf, 546243, 12451, 1356600, 1356599, 262992, 262993, 796785, 263900, 527801, 543010, 1134867, 1677878, 2211676, 3279260, 3813052, 4346844, 3849465, 4383257, 4917049, 1371809, 1067595, 2439405, 3236191, 4580640, inf, 1140409, 5721050, 6788634, 7322426, 7856218, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 263887, 263503, 21885, inf, 1067884, 1601676, 1878240, 2412032, 1060284, 263296, 526492, 817306, 4824065, 1075493, 5899559, inf, 6433357, 1702301, 8568525, 9135959, 9703393, 10270827, 11411237, inf, inf, 10843803, 10276369, 832515, 3244548, 5122789, 5690223, 6830633, inf, inf, inf, 7898217, 8432009, 8965801, inf, inf, inf, inf, inf, 610, inf, inf, 1992486, 1532586, 1072686, inf, 2034209, 2034209, 2034208, 11, 533799, 1067599, 1067611, 20363, 40727, 81455, 2115665, 2185882, 4371765, 541196, 19653050, 4912962, 18851239, 19653051, inf, 20455472, 19653661, 801909, 801809, inf, inf, inf, 16, 44, 162, 267, 268, inf, inf, 101, 185, 41722, 41723, 41736, 41836, 41837, 41937, 1, 304, 533, 78, 542, 542, inf, 72389, 119, 16, 12, 9, 5, 4, 3, 35492, 20287, 207, 104, 103, 100, 21373, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 38838, 38839, 38839, 38840, inf, 38828, inf, inf, 0, 3, 4, 2029, inf, 2043, 2143, 2144, 2128, 2129, 2229, 2276, 2278, 2277, 2278, 2377, 2424, 2377, 2426, 2426, 2425, 53143, inf, inf, 102, 251, 53395, 53399, 53396, 53400, 9118, 62519, 2, 2129, 2378, 0, 1, 2, 1, 0, 2, 1, 1, 5, 306607, 306608, inf, 306609, 306609, 306610, 306611, 306610, 306610, 306710, 327070, 327074, 327120, 327121, 327121, 306609, 100, 101, 201, 300, 314, inf, 414, 415, 419, 420, 421, 422, 129, 104, 19, 119, 120, 121, 122, 123, 15, 115, 116, 117, 118, 217, 132, 232, 233, 234, 235, 249, 349, 335, 522, 20695, 20882, 41801, 41578, 41702, 1127, 42849, 511, 43362, 43363, 85165, 9451, 29811, 30324, 30325, 56014, 4805, 25688, 2117751, 2076028, 2159473, 2159570, 2117751, 2075931, 42173, 84250, 12162, 62179, 42076, 84153, 2117750, 43361, 30323, 12650, 12551, 15029, 15076, 831, 834, inf, inf, inf, inf, inf, inf, inf, inf, 2117899, 2076079, 2076176, 2159621, 2117899, 2159718, 42321, 84398, 2076229, 2118049, 2159771, 2159868, 2118049, 42471, 84548, 2076326, inf, inf, 2076229, 2076326, 2118049, 2159771, 2159868, 2118049, 42471, 84548, 2076914, 2077011, 2118734, 2160456, 2160553, 2118734, 43156, 85233, 2076911, 2077008, 2118731, 2160453, 2160550, 2118731, 43153, 85230, 2091156, 2091253, 2132976, 2174698, 2174795, 2132976, 57398, 99475, 5, inf, 9, inf, inf, 12, 13, inf, 6, 9, inf, inf, inf, 7, inf, inf, inf, 10, inf, 10, inf, inf, inf, inf, inf, 8, 12, 11, inf, inf, inf, inf, inf, inf, inf, 8, 7, 13, inf, inf, 97020, 2493668, 2493666, 2493667, 0, 99, 199, 207, 600, 599, 600, 601, 602, 603, 284215, 284216, 284264, 284967, 284868, inf, 2396645, 305488, 305489, inf, 200, 51518, inf, inf, 97008, 75130, 66727, 11, 246, 0, 266044, 266038, 1317016, inf, inf, 266039, 266040, 266041, 266042, 266043, 528539, 301021, inf, inf, inf, inf, 264510, 264511, inf, 264787, inf, inf, inf, 263495, 263496, 264509, 527001, inf, 23323, 23334, inf, 33458, inf, 47823, 47827, inf, inf, 620294, 41837, 41937, 41736, 41836, 41722, 41723, inf, 203, 206, inf, inf, inf, inf, inf, 262492, 262493, 262494, 262495, 262496, 262497, 262498, 262499, 262500, 262493, 10, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 9, inf, inf, inf, inf, 20530, 20635, 20740, inf, inf, inf, inf, inf, inf, inf, 20635, 20741, inf, 20740, 14306800, 13504989, 13500940, 14306802, 14306801, inf, inf, inf, 41987, 41988, inf, 15066, 15067, 35694, 1072694, 9222, 9123, 9123, 2025, inf, 15230, 15231, 15231, inf, inf, inf, inf, inf, inf, 261235, 261233, 261232, 261235, 261234, 261234, inf, inf, inf, inf, 2243349, 266038, inf, inf, 1313469, 2239803, 3290781, 5, 4, 27, 24, inf, 4, 6, 20775, 20776, 20777, 35844, 20670, 20777, inf, 41341, inf, inf, 9126, inf, inf, inf, 149, 157, 142, inf, inf, inf, inf, inf, inf, inf, 18253, 262492, 262492, 524985, inf, inf, 2075935, 72099, 71414, 71414, 71084, 71166, 71167, 71264, 124, 121, inf, 123, inf, 20484, 20485, 241, 340, 255, 355, 356, 357, 358, inf, 22328, 22378, 36507, 73015, 1049971, 2099943, 15843, 48450, 48454, 53525, 20910, 53521, inf, 62343, 15124, 15133, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 15031, 266038, inf, 262492, 1317016, 16, 15, 14, 9137, 5, 5072, 15129, 15131, 15127, 15129, 56849, inf, inf, inf, inf, inf, 15132, 15128, 15130, 15126, 15128, 56848, 5, inf, 10, inf, 59291, inf, 59289, 42940, inf, 27873, inf, inf, inf, 79812, 79917, 80022, 59292, 59290, 63339, 80023, 33, 32, 31, 2056, 538880, 0, 41722, 2, 41723, 538866, 580604, 580704, inf, 622430, inf, 580708, 580705, 580707, 580706, 580709, 580716, 580708, 580818, 587919, 587918, 622530, 538867, inf, 834853, 832233, 836283, 832232, 834854, 838904, 822604, 822605, 826655, inf, inf, inf, 838903, 836282, 826654, 1662939, 71186, 71268, 71270, 2250859, 2250860, 2322130, 3089765, 71269, 907555, 3125, 240, 241, 224, 342, 2769, 2816, 2817, 3207, 23567, 15216, 47823, inf, 50720, 202023, inf, inf, 201923, 181339, 130614, 89505, 38784, 202023, 202024, 202025, 202026, 202027, 201924, 130615, 2819, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, inf, 8641, 8642, 2561, 2562, 2, 2, 543, 544, 9165, 57435, 42508, 43190, 42210, 43193, 42508, 85267, 84585, 85270, 99512, 84585, 84287, 349308, 363550, 349305, 502605, 502608, 516850, 210250

In [55]:
not_updated = find_value(depth, np.inf)
len(not_updated)

1009

turn values to list, turn keys to string, and remove the product itself from its ingredients

In [49]:
for key in transition_from.keys():
    transition_from[key] = [int(i) for i in transition_from[key] if (i != key)]
transition_from = {str(k):list(set(v)) for k,v in transition_from.items()}

calculate the number of immediate products that can be made from this object

In [60]:
emp = pd.DataFrame(columns = ['id','name','num_imme_products'])
for i in all_obj:
    emp = emp.append({'id':i, 'name':all_obj[i], 'num_imme_products':len(all_products[i])}, ignore_index = True)

In [64]:
emp = emp.sort_values(by = 'num_imme_products', ascending = False).reset_index(drop = True)
emp.head()

   index   id                           name num_imme_products
0   2063  235              Clay Bowl - empty               145
1   1992  382  Bowl of Water - +contFoodDish                78
2   1555   59                           Rope                56
3   2837   34                    Sharp Stone                55
4   2846  135                     Flint Chip                45

In [77]:
all_products = {str(k):list(v) for k,v in all_products.items()}

## Save to csv

In [56]:
with open('tech_outputs/adj.csv', 'w') as f:
    f.write("ingredient1,ingredient2,product\n")
    for key in adj_dict.keys():
        f.write("%s,%s,%s\n"%(adj_dict[key][0], adj_dict[key][1], key))

In [147]:
with open('tech_outputs/depth.csv', 'w') as f:
    f.write("Id,Depth,Name\n")
    for key in depth.keys():
        if key in all_obj:
            f.write("%s,%s,%s\n"%(key, depth[key], all_obj[key]))

In [115]:
with open('tech_outputs/num_unique_ingredients.csv', 'w') as f:
    f.write("id,name,num_ingredients\n")
    for key in transition_from.keys():
        if key in all_obj:
            f.write("%s,%s,%s\n"%(key, all_obj[key], len(transition_from[key])))

In [50]:
with open('tech_outputs/ingredients.txt', 'w') as outfile:
    json.dump(transition_from, outfile)

In [79]:
with open('tech_outputs/products.txt', 'w') as outfile:
    json.dump(all_products, outfile)

In [65]:
emp.to_csv('tech_outputs/empowerment.csv')

## Check:

In [121]:
# with open('tech_outputs/ingredients.p', 'rb') as fp:
#     data = pickle.load(fp)

In [162]:
emp_df = pd.read_csv('tech_outputs/empowerment.csv', index_col = 0)
emp_df = emp_df.sort_values(by = 'num_imme_products', ascending = False).reset_index(drop = True)
emp_df.head(n = 10)

    id                           name  num_imme_products
0  235              Clay Bowl - empty                145
1  382  Bowl of Water - +contFoodDish                 78
2   59                           Rope                 56
3   34                    Sharp Stone                 55
4  135                     Flint Chip                 45
5  568                 Shears - +tool                 43
6  210               Full Water Pouch                 41
7   33                          Stone                 39
8  462             Steel Adze - +tool                 39
9  441        Smithing Hammer - +tool                 36

In [119]:
trans_df = pd.read_csv('tech_outputs/num_unique_ingredients.csv')
trans_df.head()

   id                        name  num_ingredients
0  11  Skin Tone A &B &C &D &E &F                0
1  19                 Female001 D                0
2  30        Wild Gooseberry Bush                0
3  31                  Gooseberry                1
4  32               Big Hard Rock                0

In [120]:
sorted_df = trans_df.sort_values(by = 'num_ingredients', ascending = False).reset_index(drop = True)
sorted_df.head()

     id                                               name  num_ingredients
0  2998                  Camera taking Photograph - +photo              460
1  3000                                Wound Loaded Camera              459
2  2999                                      Loaded Camera              458
3  2703            Running Crude Airplane on Landing Strip              407
4  2704  Crude Airplane on Landing Strip - +toolThe_Air...              406

In [71]:
for i in not_updated:
    try:
        print(obj.read_obj(str(i))['name'])
    except:
        SyntaxError

Skin Tone A &B &C &D &E &F
Female001 D
Milkweed Stump -Fertile
Male002 D
Female003 D
Female004 C
Male005 D
Female006 C
Male007 C
Male008 C
Touched Edge
Edge
@ Kindling Source
@ Pond Water Source
@ Full Portable Water Source
@ Carrot
@ Wet Canada Goose Pond
Jason Test
Long Play Phonorecord Album
Phonorecord Sleeve
Long Play Phonorecord
Phonograph
Playing Phonograph
@ Yew Bow
Flooded Pond
@ Food Burner
@ Edible Pie
@ Skinning Tool
@ Lamb Food Bowl
@ Small Trash
@ Planted Stakes
Parts
@ Unshot Grizzly Bear
@ Empty Portable Water Source
@ New Scrap Steel
@ Shallow Digger
@ Rough Cutter
@ Simmering Liquid
@ Partial Adobe Build
@ Stone Rubble Sources
Floppy Basket
@ Row Tiller
@ Non-tilling Skewer
Broken Basket
@ Decaying Hat
@ Decaying Shirt
@ Decaying Bottom
@ Decaying Shoe
@ Tillable Row
@ Decaying Basket
@ Broken Steel Source
@ Weak Chisel Breaker
Fence Rail
@ Fine Cutter
@ Weak Froe Breaker
@ Unlocked Sign
@ Locked Sign
@ Free Lock
Female009 D
Male010 D
Female011 C
Male012 C
Full Deep Well - +famUse100
Full Shallow Well - +famUse100
@ Non Vigorous Gooseberry
@ Hand Sew
Raw Potato - just dug
@ Pounder
@ Any Ice Hole
Goose Beheaded
@ Dung Shovel Source
@ Young Stone Wall
@ high heat source
Tutorial Stone - tutorial 1
Tutorial Stone - tutorial 2
Tutorial Stone - tutorial 3
Tutorial Stone - tutorial 99 done
Tutorial Stone - tutorial 4
Tutorial Stone - tutorial 5
Tutorial Stone - tutorial 6
Tutorial Stone - tutorial 7
Tutorial Stone - tutorial 8
Tutorial Stone - tutorial 9
Tutorial Stone - tutorial 601
Tutorial Stone - tutorial 10
Tutorial Stone - tutorial 11
Tutorial Stone - tutorial 12
Tutorial Stone - tutorial 13
Fire - Tut_only burns forever
Tutorial Stone - tutorial 14
Tutorial Stone - tutorial 15
Tutorial Stone - tutorial 16
Tutorial Stone - tutorial 17
Tutorial Stone - tutorial 18
Tutorial Stone - tutorial 19
Tutorial Stone - tutorial 20
Final Tutorial Torch
Burning Tutorial Torch - tutorial 21 done
Hot Coals - Tut_only burns forever
Tutorial Stone - tutorial 1901
Tutorial Stone - tutorial 1902
Tutorial Stone - tutorial 22
Tutorial Stone - tutorial 23
Tutorial Stone - tutorial 24
Tutorial Stone - tutorial 25
Tutorial Stone - tutorial 26
Tutorial Stone - tutorial 27
Partial Track Cart Kit -3 wheel remade
@ Moving Cart
@ Pile
@ Pile Element
Female013 F
Male014 A
@ Deadly Wolf
@ Pit Bull
Anger Brows
Anger Mouth
Sad Brows
Sad Mouth
Happy Mouth
Blush
Stack of Floppy Baskets
Kindling Pile - just chopped
Deep Well - was empty +famUse100
Shallow Well - was empty +famUse100
Baby Bones - fromDeath origGrave
@ Leaf-source Mango Tree
@ Cutting-source Mango Tree
Tutorial Stone - tutorial 1921
Tutorial Stone - tutorial 28
Twenty Minute Wooden Door - Installed +wall
Twenty Minute Barricade
Tutorial Stone - tutorial 29
Tutorial Stone - tutorial 30
Tutorial Stone - tutorial 31
Tutorial Stone - tutorial 32
Tutorial Stone - tutorial 33
Tutorial Stone - tutorial 34
Ace of Clubs
Two of Clubs
Three of Clubs
Four of Clubs
Five of Clubs
@ Any Card
Hidden Card - A of Clubs
Hidden Card - 2 of Clubs
Hidden Card - 3 of Clubs
Hidden Card - 4 of Clubs
Hidden Card - 5 of Clubs
Die Roll of One
Die Roll of Two
Die Roll of Three
Die Roll of Four
Die Roll of Five
Die Roll of Six
@ Rolled Die
Dice Roll of Two - 1 1
Dice Roll of Four - 1 3
Dice Roll of Five - 1 4
Dice Roll of Three - 1 2
Dice Roll of Six - 1 5
Dice Roll of Seven - 1 6
@ Rolled Dice
Dice Roll of Four - 2 2
Dice Roll of Five - 2 3
Dice Roll of Six - 2 4
Dice Roll of Seven - 2 5
Dice Roll of Eight - 2 6
Dice Roll of Six - 3 3
Dice Roll of Seven - 3 4
Dice Roll of Eight - 3 5
Dice Roll of Nine - 3 6
Dice Roll of Nine - 4 5
Dice Roll of Ten - 4 6
Dice Roll of Eight - 4 4
Dice Roll of Ten - 5 5
Dice Roll of Eleven - 5 6
Dice Roll of Twelve - 6 6
Six of Clubs
Seven of Clubs
Eight of Clubs
Nine of Clubs
Ten of Clubs
Jack of Clubs
Queen of Clubs
King of Clubs
Ace of Spades
Two of Spades
Three of Spades
Four of Spades
Five of Spades
Six of Spades
Seven of Spades
Eight of Spades
Nine of Spades
Ten of Spades
Jack of Spades
Queen of Spades
King of Spades
Ace of Hearts
Two of Hearts
Three of Hearts
Four of Hearts
Five of Hearts
Six of Hearts
Seven of Hearts
Eight of Hearts
Nine of Hearts
Ten of Hearts
Jack of Hearts
Queen of Hearts
King of Hearts
Ace of Diamonds
Two of Diamonds
Three of Diamonds
Four of Diamonds
Five of Diamonds
Six of Diamonds
Seven of Diamonds
Eight of Diamonds
Nine of Diamonds
Ten of Diamonds
Jack of Diamonds
Queen of Diamonds
King of Diamonds
Hidden Card - 6 of Clubs
Hidden Card - 7 of Clubs
Hidden Card - 8 of Clubs
Hidden Card - 9 of Clubs
Hidden Card - 10 of Clubs
Hidden Card - J of Clubs
Hidden Card - Q of Clubs
Hidden Card - K of Clubs
Hidden Card - A of Spades
Hidden Card - 2 of Spades
Hidden Card - 3 of Spades
Hidden Card - 4 of Spades
Hidden Card - 5 of Spades
Hidden Card - 6 of Spades
Hidden Card - 7 of Spades
Hidden Card - 8 of Spades
Hidden Card - 9 of Spades
Hidden Card - 10 of Spades
Hidden Card - J of Spades
Hidden Card - Q of Spades
Hidden Card - K of Spades
Hidden Card - A of Hearts
Hidden Card - 2 of Hearts
Hidden Card - 3 of Hearts
Hidden Card - 4 of Hearts
Hidden Card - 5 of Hearts
Hidden Card - 6 of Hearts
Hidden Card - 7 of Hearts
Hidden Card - 8 of Hearts
Hidden Card - 9 of Hearts
Hidden Card - 10 of Hearts
Hidden Card - J of Hearts
Hidden Card - Q of Hearts
Hidden Card - K of Hearts
Hidden Card - A of Diamonds
Hidden Card - 2 of Diamonds
Hidden Card - 3 of Diamonds
Hidden Card - 4 of Diamonds
Hidden Card - 5 of Diamonds
Hidden Card - 6 of Diamonds
Hidden Card - 7 of Diamonds
Hidden Card - 8 of Diamonds
Hidden Card - 9 of Diamonds
Hidden Card - 10 of Diamonds
Hidden Card - J of Diamonds
Hidden Card - Q of Diamonds
Hidden Card - K of Diamonds
@ Thorn Source
Perhaps a Fish
Tutorial Stone - tutorial 1201
Tutorial Stone - tutorial 1202
@ Seed Bowl
@ Any Crown
Jaundice Head
Jaundice Body
Tutorial Stone - tutorial 2701
Tutorial Stone - tutorial 2201
Perhaps Oil
Timing Belt Working
Test Engine Running
Male015 F
Female016 A
Snowball Splat Face
Female017 F
Female018 A
High Frequency Marconi Receiver - on
Medium Frequency Marconi Receiver - on
Low Frequency Marconi Receiver - on
>global1
>global2
>global3
Tutorial Stone - tutorial 1101
Tutorial Stone - tutorial 1001
Tutorial Stone - tutorial 1002
Tutorial Stone - tutorial 1010
Tutorial Stone - tutorial 1011
Tutorial Stone - tutorial 1501
Tutorial Stone - tutorial 1601
Large Slow Fire -tut_only burns forever
Hubba Brows
SickFace
SickMouth
YoohooMouth - offScreenSound_W
Hmph Brows
Hmph Mouth
Love Heart
OReally Brows
Shock Mouth
Perhaps some Shrimp
Tomato Seed
@ Undyed Item Pattern
@ Dye-ready Item Pattern
@ Dyed Red Item Pattern
@ Dyed Indigo Item Pattern
@ Dyed Green Item Pattern
@ Dyed Yellow Item Pattern
@ Dyed Black Item Pattern
Property Fence - +cornerD
Property Fence - +verticalD
Proposed Property Fence - groundOnly +verticalA
Approved Property Fence - +verticalB +wall
Proposed Property Fence - groundOnly +cornerA
Approved Property Fence - +cornerB +wall
Rickety Property Fence - +verticalK
Rickety Property Fence - +cornerK
Shaky Property Fence - +cornerC
Shaky Property Fence - +verticalC
@ Shaky Fence Buster
@ Any approved fence
@ Unpowered Pump Head
Pregnant Belly
Baby Bone Pile - origGrave
Basket of Baby Bones - origGrave
Baby Bone Pile - origGrave justDied fromDeath
Murder Mouth - offScreenSound
@ Cutting-source Rubber Tree
Male019 A
Male020 A
Male021 F
Male022 F
Renewed Property Fence - +cornerH
Renewed Property Fence - +tapoutTrigger &1 &1 &1 &1 +verticalH
Rift - A 1 +noHighlight
Rift - A 2 +noHighlight
Rift - A 3 +noHighlight
Rift - A 4 +noHighlight
Rift - B 1 +noHighlight
Rift - B 2 +noHighlight
Rift - B 3 +noHighlight
Rift - B 4 +noHighlight
Rift - C 1 +noHighlight
Rift - C 2 +noHighlight
Rift - C 3 +noHighlight
Rift - C 4 +noHighlight
Tarr Monument
Fence Notice Working
Property Fence with Removal Notice
Property Fence with Partial Notice
Property Fence with Unsigned Notice
Property Fence with Removal Notice
Property Fence with Unsigned Notice
Property Fence with Partial Notice
Property Fence Box - +verticalE
Property Fence Box - +cornerE
Renewed Property Fence Box - ver +tapoutTrigger &1 &1 &1 &1 +verticalJ
Renewed Property Fence Box - +cornerJ
Rickety Property Fence Box - +cornerL
Rickety Property Fence Box - +verticalL
@ Any Water Tank
Tutorial Stone - tutorial 1203
Tutorial Stone - tutorial 1903
Tutorial Stone - tutorial 1003
Tutorial Stone - tutorial 1004
Tutorial Stone - tutorial 1005
Jason
Hat & Sun & Hot Weather
Perhaps a Pumpkin
Perhaps a Squash
Missing Object - +default
Chest Tattoo
Pneumonia - sick emot_18_60
Palor Head
Palor Body
Relief Mouth
Heat Stroke Body
Heat Stroke Head
Dehydration Body
Dehydration Head
Dehydration - sick emot_20_60
Heat Stroke - sick emot_21_60
Back Tattoo
Mouth Tattoo
Head Tattoo
Face Tattoo
Stomach Tattoo
Partial Notice Working
Unsigned Notice Working
Removal Notice Working
Badge A
Badge B
Badge C
Badge D
Badge E
Badge F
Badge G
Badge I
Badge H
Badge A Half X
Badge B Half X
Badge C Half X
Badge D Half X
Badge E Half X
Badge F Half X
Badge G Half X
Badge H Half X
Badge I Half X
Badge A Full X
Badge B Full X
Badge C Full X
Badge D Full X
Badge E Full X
Badge F Full X
Badge G Full X
Badge H Full X
Badge I Full X
Full X
@ Roseless Hat Pattern
@ Blue Rose Hat Pattern
@ Black Rose Hat Pattern
@ Green Rose Hat Pattern
@ Yellow Rose Hat Pattern
@ Any adult rabbit hole
Bottle Funnel Working
Bottle Stopper Working
@ Pattern Bottle
@ Pattern Bottle with Funnel
@ Pattern Bottle with Funnel just inserted
@ Pattern Sealed Bottle
@ Pattern Bottle just poured
@ Pattern bowl of Bottle Stuff
@ Pattern bottle just emptied
@ Eastward Leaving Tracks
@ Eastward Entering Tracks
@ Eastward Moving Cart
@ Eastward Moving Cart Leaving
@ Eastward Moving Cart Entered
@ Westward Leaving Tracks
@ Westward Moving Cart
@ Westward Moving Cart Leaving
@ Westward Moving Cart Entered
@ Westward Entering Tracks
@ Northward Leaving Tracks
@ Northward Entering Tracks
@ Northward Moving Cart
@ Northward Moving Cart Leaving
@ Northward Moving Cart Entered
@ Southward Leaving Tracks
@ Southward Entering Tracks
@ Southward Moving Cart
@ Southward Moving Cart Leaving
@ Southward Moving Cart Entered
Terrified Mouth - offScreenSound_T
@ Partially Dug track
@ Non-Dug track
@ Bendable Track
@ Non-Bendable Track
Homesick Mouth
@ New Scrap Copper
Refuse Mouth
Shaky Property Fence Box - +cornerG
Shaky Property Fence Box - +verticalG
Stakes working
@ Kernel Bucket
@ Kernel Bucket Dregs
@ Kernel Bowl
@ Kernel Pile
@ Kernel Pile Solo
@ Kernel Pile Solo just Dumped
@ Owner Gate Remover
@ Reversible Cart On Track
@ Reversed Cart On Track
@ Reversed Continue Cart On Track
@ Carrot Pile Pattern
@ Carrot Pile Last Pattern
Starving Mouth - +offScreenSound_H
@ Any fence that renews corner
Satisfied Mouth

In [95]:
hardest_item = max([i for i in list(depth.values()) if i < np.inf])
myitem = find_value(depth, hardest_item, 0)[0]
tech_df.query('(newTarget == @myitem) or (newActor == @myitem)')

,actorMinUseFraction,autoDecaySeconds,desiredMoveDist,isTool,lastUseActor,lastUseTarget,move,newActor,newActorName,newTarget,newTargetName,noUseActor,noUseTarget,origActor,origActorName,origTarget,origTargetName,reverseUseActor,reverseUseTarget,targetMinUseFraction
0,0.0,0,1.0,True,False,False,0.0,2343,Tank of Kerosene,2703,Running Crude Airplane on Landing Strip,0.0,0.0,2343,Tank of Kerosene,2704,Crude Airplane on Landing Strip - +toolThe_Air...,0.0,0.0,0.0
0,0.0,0,1.0,True,True,False,0.0,2302,Empty Tank,2703,Running Crude Airplane on Landing Strip,0.0,0.0,2343,Tank of Kerosene,2704,Crude Airplane on Landing Strip - +toolThe_Air...,0.0,0.0,0.0

In [96]:
depth[myitem]

92

In [99]:
depth[151]

4

In [100]:
depth[2998]

90