# Innovation Degree of Freedom
   This file calculates the degree of freedom of innovation (defined as Num(immediate potential objects can be made) - Num(objs already made)) at different time points in the family history

In [1]:
%matplotlib inline

import os, re, glob, datetime, json
import pandas as pd
import numpy as np

from tqdm.notebook import tqdm
import matplotlib.pyplot as plt
import seaborn as sns

load empowerment dictionary

In [2]:
with open('tech_outputs/products.txt') as json_file:
    emp = json.load(json_file)

In [3]:
emp = {int(k): v for k, v in emp.items() if len(v)!= 0}

load map change data

In [4]:
data = pd.read_csv('../2_demographics/outputs/parsed_map_change.csv', index_col = [0])

In [5]:
data.head()

     time  locX  locY  obj  playerID                                    family
0  122.31 -5137 -1395    0   2276905  time-1573895755_eve-2276905_name-ZABICKI
1  125.06 -5138 -1394    0   2276905  time-1573895755_eve-2276905_name-ZABICKI
2  127.21 -5138 -1395  236   2276905  time-1573895755_eve-2276905_name-ZABICKI
3  129.09 -5135 -1396  134   2276905  time-1573895755_eve-2276905_name-ZABICKI
4  130.33 -5136 -1395    0   2276905  time-1573895755_eve-2276905_name-ZABICKI

In [6]:
len(data)

840408

find object and family index

In [7]:
data['cum_obj_num'] = data.groupby('family')['obj'].cumcount()

In [8]:
data['fam_idx'] = data.groupby('family',as_index = False).ngroup()

In [9]:
obj_list = data.groupby('family')['obj'].apply(list).to_list()

In [10]:
len(obj_list)

48

tag cumulative objects up to time t

In [ ]:
data['cum_objs'] = data.apply(lambda x: set(obj_list[x.fam_idx][0:x.cum_obj_num+1]), axis = 1)

In [24]:
data.head()

,time,locX,locY,obj,playerID,family,cum_obj_num,fam_idx,cum_objs
0,122.31,-5137,-1395,0,2276905,time-1573895755_eve-2276905_name-ZABICKI,0,0,{0}
1,125.06,-5138,-1394,0,2276905,time-1573895755_eve-2276905_name-ZABICKI,1,0,{0}
2,127.21,-5138,-1395,236,2276905,time-1573895755_eve-2276905_name-ZABICKI,2,0,"{0, 236}"
3,129.09,-5135,-1396,134,2276905,time-1573895755_eve-2276905_name-ZABICKI,3,0,"{0, 236, 134}"
4,130.33,-5136,-1395,0,2276905,time-1573895755_eve-2276905_name-ZABICKI,4,0,"{0, 236, 134}"

take only rows where new objects are made

In [28]:
data_unique = data.copy()

In [29]:
data_unique['shifted'] = data_unique['cum_objs'].shift()

In [32]:
data_unique.head()

,time,locX,locY,obj,playerID,family,cum_obj_num,fam_idx,cum_objs,shifted
0,122.31,-5137,-1395,0,2276905,time-1573895755_eve-2276905_name-ZABICKI,0,0,{0},NaN
1,125.06,-5138,-1394,0,2276905,time-1573895755_eve-2276905_name-ZABICKI,1,0,{0},{0}
2,127.21,-5138,-1395,236,2276905,time-1573895755_eve-2276905_name-ZABICKI,2,0,"{0, 236}",{0}
3,129.09,-5135,-1396,134,2276905,time-1573895755_eve-2276905_name-ZABICKI,3,0,"{0, 236, 134}","{0, 236}"
4,130.33,-5136,-1395,0,2276905,time-1573895755_eve-2276905_name-ZABICKI,4,0,"{0, 236, 134}","{0, 236, 134}"

In [34]:
data_unique['num_obj'] = data_unique['cum_objs'].apply(lambda x: len(x))

In [40]:
data_new = data_unique.groupby(['family', 'num_obj'])[['time', 'cum_objs']].apply(min).reset_index()

In [47]:
data_new.head()

,family,num_obj,time,cum_objs
0,time-1573895755_eve-2276905_name-ZABICKI,1,122.31,{0}
1,time-1573895755_eve-2276905_name-ZABICKI,2,127.21,"{0, 236}"
2,time-1573895755_eve-2276905_name-ZABICKI,3,129.09,"{0, 236, 134}"
3,time-1573895755_eve-2276905_name-ZABICKI,4,172.11,"{0, 2873, 236, 134}"
4,time-1573895755_eve-2276905_name-ZABICKI,5,175.11,"{0, 134, 236, 2742, 2873}"

In [44]:
len(data_new)

15277

find innovation degree of freedom

In [107]:
def find_emp(objs):
    tot = objs
    for i in objs:
        if i in emp.keys():
            tot = np.append(tot, [i for i in emp[i] if i not in tot])
    return len(tot) - len(objs)

In [108]:
data_new['degree_of_freedom'] = data_new['cum_objs'].apply(find_emp)

In [109]:
data_new.head()

,family,num_obj,time,cum_objs,emp,degree_of_freedom
0,time-1573895755_eve-2276905_name-ZABICKI,1,122.31,{0},0,0
1,time-1573895755_eve-2276905_name-ZABICKI,2,127.21,"{0, 236}",29,28
2,time-1573895755_eve-2276905_name-ZABICKI,3,129.09,"{0, 236, 134}",33,31
3,time-1573895755_eve-2276905_name-ZABICKI,4,172.11,"{0, 2873, 236, 134}",34,31
4,time-1573895755_eve-2276905_name-ZABICKI,5,175.11,"{0, 134, 236, 2742, 2873}",34,30

In [117]:
data_new.to_csv('empowerment_dynamic.csv')

In [112]:
test = data_new.groupby('family')['emp'].apply(max)

In [113]:
test

family
time-1573895755_eve-2276905_name-ZABICKI            1415
time-1573895904_eve-2276911_name-ROHRER              312
time-1573896101_eve-2276917_name-BADA               1431
time-1573896134_eve-2276919_name-SARINA             1627
time-1573896495_eve-2276927_name-LISSADE            2212
time-1573905001_eve-2277238_name-NORTH               466
time-1573906131_eve-2277285_name-NEW                 203
time-1573907431_eve-2277342_name-FINCH              2114
time-1573909483_eve-2277421_name-ISPAS              2024
time-1573913113_eve-2277579_name-IN                  262
time-1573914221_eve-2277632_name-WILD                914
time-1573916555_eve-2277781_name-AA                    3
time-1573918105_eve-2277860_name-RUTH                828
time-1573922544_eve-2278118_name-FUGLSANG              8
time-1573922618_eve-2278121_name-ZAZA                150
time-1573923283_eve-2278172_name-POPS                258
time-1573923963_eve-2278242_name-DESTINO             204
time-1573928065_eve-2278562_name-CALIN              1664
time-1573931298_eve-2278799_name-ANGEL                 3
time-1573933442_eve-2278996_name-MORT               1469
time-1573934909_eve-2279109_name-ALICE              1742
time-1573965243_eve-2280850_name-ETERNO             2215
time-1573993405_eve-2281846_name-KLENK              1648
time-1574002170_eve-2282286_name-KILL                  7
time-1574002222_eve-2282292_name-FRADKIN            1316
time-1574005861_eve-2282511_name-ROYALTY             127
time-1574006761_eve-2282567_name-DUPEA               123
time-1574007003_eve-2282583_name-FRYMAN             1669
time-1574013554_eve-2282947_name-EVA                  20
time-1574014730_eve-2283003_name-GENEST              873
time-1574019178_eve-2283257_name-GREY               1688
time-1574022356_eve-2283497_name-HOPELY                6
time-1574022455_eve-2283503_name-AN                 2169
time-1574022807_eve-2283525_name-LION                269
time-1574024904_eve-2283723_name-DUMBAR                3
time-1574024980_eve-2283728_name-UNIS               2091
time-1574030687_eve-2284042_name-ANN                1873
time-1574040685_eve-2284545_name-DICK                202
time-1574043968_eve-2284715_name-EPIFANIO            418
time-1574045398_eve-2284784_name-LOVELACE            603
time-1574046254_eve-2284823_name-ANA                   6
time-1574046693_eve-2284872_name-LOVE               1400
time-1574075044_eve-2285598_name-STALICA             297
time-1574075802_eve-2285645_name-CHERIPKA            244
time-1574076383_eve-2285659_name-LIMEHOUSE          1816
time-1574077367_eve-2285693_name-SCHWARZENBERGER    1817
time-1574090874_eve-2286003_name-SILANO             1554
time-1574097243_eve-2286236_name-WALUS              1008
Name: emp, dtype: int64