# Object variety
Natalia VÃ©lez, October 2020

In [13]:
import os,re,glob
from os.path import join as opj
import numpy as np
import pandas as pd

from tqdm import notebook

Maplog files:

In [2]:
map_files = glob.glob('../3_technology/outputs/maplog/*.tsv')
map_files.sort()
print(*map_files[:10], sep='\n')

../3_technology/outputs/maplog/maplog_release-284_start-1573895672.tsv
../3_technology/outputs/maplog/maplog_release-284_start-1573982073.tsv
../3_technology/outputs/maplog/maplog_release-284_start-1574068473.tsv
../3_technology/outputs/maplog/maplog_release-285_start-1574102503.tsv
../3_technology/outputs/maplog/maplog_release-287_start-1574151678.tsv
../3_technology/outputs/maplog/maplog_release-287_start-1574238079.tsv
../3_technology/outputs/maplog/maplog_release-287_start-1574324479.tsv
../3_technology/outputs/maplog/maplog_release-287_start-1574410879.tsv
../3_technology/outputs/maplog/maplog_release-287_start-1574497279.tsv
../3_technology/outputs/maplog/maplog_release-289_start-1574552311.tsv

Process map files:

In [14]:
data_list = []

for f in notebook.tqdm(map_files):
    tmp_d = pd.read_csv(f, sep='\t')
    tmp_d['object_id'] = tmp_d.object_id.str.replace('(^f|v[0-9]+|u[0-9]+)', '')
    tmp_d['object_id'] = tmp_d['object_id'].astype(np.int)

    tmp_d = tmp_d[(tmp_d['avatar'] > 0) & (tmp_d['object_id'] > 0)]
    tmp_d = tmp_d.groupby('avatar')['object_id'].nunique().reset_index()
    
    data_list.append(tmp_d)

HBox(children=(FloatProgress(value=0.0, max=365.0), HTML(value='')))

Put together in a dataframe:

In [18]:
map_data = pd.concat(data_list)
map_data = map_data.rename(columns={'object_id': 'n_objects'})
map_data.head()

      avatar  n_objects
0  2276905.0        139
1  2276906.0         22
2  2276907.0          1
3  2276908.0          9
4  2276909.0         82

In [19]:
map_data.to_csv('outputs/object_variety.tsv', sep='\t', index=False)