In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

### Big Server Data only
The bigserver is the only server that records all the data we are interested in for our analyses (lifelogs, map change, etc.), so we will just look at that separately throughout this notebook.

In [2]:
lifelog_data = pd.read_csv('outputs/lifelogs_201907-202005_data.tsv', sep='\t')
lifelog_data.head()

,Unnamed: 0,release,server,event,timestamp,playerID,hash,uniqueID,age,sex,location,parent,cause_of_death,killer,pop,chain
0,0,254.0,bigserver2,D,1564444828,1842380,583a6de73718f5dd0ddf388f4e68dc060b15e6df,1842380_bigserver2_254.0,1.81,F,"(48, 94)",NaN,hunger,NaN,82,NaN
1,1,254.0,bigserver2,D,1564444830,1842301,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842301_bigserver2_254.0,8.00,M,"(40, 350)",NaN,hunger,NaN,82,NaN
2,2,254.0,bigserver2,B,1564444832,1842398,583a6de73718f5dd0ddf388f4e68dc060b15e6df,1842398_bigserver2_254.0,NaN,F,"(-325, 209)",1842145.0,NaN,NaN,84,3.0
3,3,254.0,bigserver2,B,1564444836,1842399,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842399_bigserver2_254.0,NaN,M,"(67, -266)",1842397.0,NaN,NaN,83,2.0
4,4,254.0,bigserver2,D,1564444859,1842311,dfd85ac03c4dd577352484b023d19d521b592696,1842311_bigserver2_254.0,7.76,M,"(-200, -123)",NaN,hunger,NaN,82,NaN

In [3]:
big_df = lifelog_data[lifelog_data['server'] == 'bigserver2'].reset_index(drop=True)
big_df.head()

,Unnamed: 0,release,server,event,timestamp,playerID,hash,uniqueID,age,sex,location,parent,cause_of_death,killer,pop,chain
0,0,254.0,bigserver2,D,1564444828,1842380,583a6de73718f5dd0ddf388f4e68dc060b15e6df,1842380_bigserver2_254.0,1.81,F,"(48, 94)",NaN,hunger,NaN,82,NaN
1,1,254.0,bigserver2,D,1564444830,1842301,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842301_bigserver2_254.0,8.00,M,"(40, 350)",NaN,hunger,NaN,82,NaN
2,2,254.0,bigserver2,B,1564444832,1842398,583a6de73718f5dd0ddf388f4e68dc060b15e6df,1842398_bigserver2_254.0,NaN,F,"(-325, 209)",1842145.0,NaN,NaN,84,3.0
3,3,254.0,bigserver2,B,1564444836,1842399,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842399_bigserver2_254.0,NaN,M,"(67, -266)",1842397.0,NaN,NaN,83,2.0
4,4,254.0,bigserver2,D,1564444859,1842311,dfd85ac03c4dd577352484b023d19d521b592696,1842311_bigserver2_254.0,7.76,M,"(-200, -123)",NaN,hunger,NaN,82,NaN

get death date

In [4]:
death_data = lifelog_data[lifelog_data['event'] == 'D'].reset_index(drop=True)
death_data.head()

,Unnamed: 0,release,server,event,timestamp,playerID,hash,uniqueID,age,sex,location,parent,cause_of_death,killer,pop,chain
0,0,254.0,bigserver2,D,1564444828,1842380,583a6de73718f5dd0ddf388f4e68dc060b15e6df,1842380_bigserver2_254.0,1.81,F,"(48, 94)",NaN,hunger,NaN,82,NaN
1,1,254.0,bigserver2,D,1564444830,1842301,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842301_bigserver2_254.0,8.00,M,"(40, 350)",NaN,hunger,NaN,82,NaN
2,4,254.0,bigserver2,D,1564444859,1842311,dfd85ac03c4dd577352484b023d19d521b592696,1842311_bigserver2_254.0,7.76,M,"(-200, -123)",NaN,hunger,NaN,82,NaN
3,5,254.0,bigserver2,D,1564444861,1842145,f766576701306189b31a049054c0840b39f84c51,1842145_bigserver2_254.0,18.89,F,"(-322, 242)",NaN,hunger,NaN,82,NaN
4,6,254.0,bigserver2,D,1564444863,1842359,9381dc0dab74b62eee67d3dc275f5c61ea51bcd0,1842359_bigserver2_254.0,4.23,M,"(-308, 258)",NaN,hunger,NaN,82,NaN

get unique player hash

In [5]:
big_hash = death_data.groupby('hash')['timestamp'].count().reset_index()
big_hash = big_hash.rename(columns={"hash": "player", "timestamp": "n_lives"})
big_hash.head()

                                     player  n_lives
0  0002e5ea5ce7cfd761135d255a245a3344af4377      397
1  00047b60a01d908e2407b05a09b404c2f6cec6f6        4
2  0004f2a9005cf3562482fe408876808498e1fad5       11
3  000548ed7f04e2ddf81b4016d87d53ddbbd2e89f       45
4  0005eb266ff93d00bb6072d9c07f3a47d4864219        6

create a new dataframe that incorporates cumulative and total number of lives

In [54]:
death_data_new = death_data[['release','timestamp','hash','playerID','age','cause_of_death']].copy()
death_data_new['n_lives'] = np.inf
death_data_new['cumulative_game_time'] = np.inf

In [51]:
death_data_new.head()

,release,timestamp,hash,playerID,age,cause_of_death,n_lives,cumulative_game_time
0,254.0,1564444828,583a6de73718f5dd0ddf388f4e68dc060b15e6df,1842380,1.81,hunger,inf,inf
1,254.0,1564444830,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842301,8.00,hunger,inf,inf
2,254.0,1564444859,dfd85ac03c4dd577352484b023d19d521b592696,1842311,7.76,hunger,inf,inf
3,254.0,1564444861,f766576701306189b31a049054c0840b39f84c51,1842145,18.89,hunger,inf,inf
4,254.0,1564444863,9381dc0dab74b62eee67d3dc275f5c61ea51bcd0,1842359,4.23,hunger,inf,inf

In [59]:
newdf = pd.DataFrame(columns = ['release','timestamp','hash','playerID','age','cause_of_death','n_lives','cumulative_game_time'])
for i in death_data.hash.unique():
    sub_data = death_data_new.query('hash == @i').copy().reset_index(drop = True)
    sub_data['cumulative_game_time'] = sub_data.index +1
    sub_data['n_lives'] = big_hash.query('player == @i')['n_lives'].tolist()[0]
    newdf = newdf.append(sub_data, sort = False)

In [60]:
newdf.sort_values(by = ['release','timestamp']).reset_index(drop = True)

,release,timestamp,hash,playerID,age,cause_of_death,n_lives,cumulative_game_time
0,254.0,1564444828,583a6de73718f5dd0ddf388f4e68dc060b15e6df,1842380,1.81,hunger,106,1
1,254.0,1564444830,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842301,8.00,hunger,63,1
2,254.0,1564444859,dfd85ac03c4dd577352484b023d19d521b592696,1842311,7.76,hunger,194,1
3,254.0,1564444861,f766576701306189b31a049054c0840b39f84c51,1842145,18.89,hunger,234,1
4,254.0,1564444863,9381dc0dab74b62eee67d3dc275f5c61ea51bcd0,1842359,4.23,hunger,5,1
5,254.0,1564444863,0443bd7b35bbefd2c5e2868e5ea6eeb812452b06,1842236,12.19,hunger,755,1
6,254.0,1564444865,8a6797bee431919dbb3035c09e23a4e9fd7b12a0,1842314,7.64,hunger,38,1
7,254.0,1564444868,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842399,0.53,hunger,63,2
8,254.0,1564444869,dfd85ac03c4dd577352484b023d19d521b592696,1842400,0.09,disconnect,194,2
9,254.0,1564444874,ec3123418e36c7536808d6b881ecb84eb15012c3,1842295,9.14,hunger,285,1
10,254.0,1564444876,459c3a23cc9baad79b1c4f4d2b0bd737c715cbc3,1842394,1.69,hunger,222,1
11,254.0,1564444893,fd6e14532b361175d5203c50a22d20fe951c89f0,1842401,0.48,hunger,59,1
12,254.0,1564444897,72bddb0c53bd5383b48d5f7f132efd93d34a3b4b,1842208,15.43,hunger,38,1
13,254.0,1564444898,fb5368553aff2e99f0c39a8a730abd4012b78c95,1842327,7.52,murdered,733,1
14,254.0,1564444899,f766576701306189b31a049054c0840b39f84c51,1842402,0.54,hunger,234,2
15,254.0,1564444903,6fabc3ffaa352d114611a30853609026c11dab32,1842348,5.83,hunger,148,1
16,254.0,1564444905,207e9318d08219318f00fd32e483251f81247dc8,1841694,56.99,murdered,134,1
17,254.0,1564444910,e3144e208e3cd5e5fb9b33d7061983e5a2422c7b,1842200,16.52,hunger,525,1
18,254.0,1564444911,89e4caa6047ad9a50f0731c378fcf7b738aebda8,1841745,53.81,hunger,1412,1
19,254.0,1564444914,46e84d44269812d453acdb360db48ecca3deca51,1842250,12.29,hunger,380,1
20,254.0,1564444915,9e5f7d996e882ea38640376f0a34872b48f45a40,1841998,29.95,hunger,278,1
21,254.0,1564444916,459c3a23cc9baad79b1c4f4d2b0bd737c715cbc3,1842407,0.54,hunger,222,2
22,254.0,1564444919,0443bd7b35bbefd2c5e2868e5ea6eeb812452b06,1842409,0.54,hunger,755,2
23,254.0,1564444926,f8aeb9f5ccc72a50abe97baca4f59f00c0cac01b,1842264,11.71,hunger,422,1
24,254.0,1564444928,c768bec2eea031f10be2a82dfbde52ee364c225d,1842368,18.46,murdered,131,1
25,254.0,1564444929,f086015734074d67d9c6b08506e094a5151fecbf,1842282,10.72,hunger,1368,1
26,254.0,1564444930,dfd85ac03c4dd577352484b023d19d521b592696,1842405,0.95,hunger,194,3
27,254.0,1564444933,973ba679b71b9ab28bc19d57a49f7ab805bb98a7,1842395,2.62,hunger,534,1
28,254.0,1564444940,973ba679b71b9ab28bc19d57a49f7ab805bb98a7,1842423,0.05,disconnect,534,2
29,254.0,1564444942,f766576701306189b31a049054c0840b39f84c51,1842413,0.54,hunger,234,3
...,...,...,...,...,...,...,...,...
286028,339.0,1590782687,3657a1bbd2cab4e49039e42a5d0b97670de3be79,3033139,60.00,oldAge,528,519
286029,339.0,1590785604,6dcabc321dcfec19779e898130ba96a35da0b367,3033270,21.29,hunger,850,835
286030,339.0,1590785775,f8a13921f118807cb24f3a87b338cf82bad49957,3033216,60.00,oldAge,2670,2605
286031,339.0,1590786360,c0bbb6e0e0c1e35f8b485fb3280e8ffdebbbff96,3033233,60.00,oldAge,2319,1914
286032,339.0,1590787425,be7a1bbee67c6d93c77fa9fcc6881a18e625b72f,3033342,0.06,disconnect,2488,2430
286033,339.0,1590789757,8020a12646132a3b9900a966c557bd32c232abf5,3033316,60.00,oldAge,677,470
286034,339.0,1590789824,67691324befd8b9e23eba345e1b9b3e4d119ac0e,3033318,60.00,oldAge,2609,2346
286035,339.0,1590790003,c0bbb6e0e0c1e35f8b485fb3280e8ffdebbbff96,3033320,60.00,oldAge,2319,1915
286036,339.0,1590790558,f7e7ce84f63d27374181576e6155c82a682e5804,3033417,0.24,disconnect,1696,1442
286037,339.0,1590790567,f7e7ce84f63d27374181576e6155c82a682e5804,3033418,0.05,disconnect,1696,1443
286038,339.0,1590790579,f7e7ce84f63d27374181576e6155c82a682e5804,3033419,0.11,disconnect,1696,1444
286039,339.0,1590790587,f7e7ce84f63d27374181576e6155c82a682e5804,3033421,0.05,disconnect,1696,1445
286040,339.0,1590790849,f7e7ce84f63d27374181576e6155c82a682e5804,3033422,4.30,hunger,1696,1446
286041,339.0,1590791031,be7a1bbee67c6d93c77fa9fcc6881a18e625b72f,3033343,60.00,oldAge,2488,2431
286042,339.0,1590791039,dcbdb24bbab66952b72baca3050b2d071d09d38b,3033426,4.59,hunger,4151,4065
286043,339.0,1590791606,86d0dbe34c4a6f09167f83887156d5bfd4203ab4,3033359,59.22,hunger,545,529
286044,339.0,1590792204,71f0317c349c25ec4188f1b501d05bd99d54b505,3033437,18.37,hunger,5269,5194
286045,339.0,1590792545,406a14922abae91b596118bdce5ef3ebbd2f0bc8,3033376,60.00,oldAge,676,663
286046,339.0,1590794153,86d0dbe34c4a6f09167f83887156d5bfd4203ab4,3033446,42.36,hunger,545,530
286047,339.0,1590794420,dca75e529655db4735c8859531966064b39c0181,3033429,60.00,oldAge,1442,1360
286048,339.0,1590794675,dcbdb24bbab66952b72baca3050b2d071d09d38b,3033434,60.00,oldAge,4151,4066
286049,339.0,1590794987,6dcabc321dcfec19779e898130ba96a35da0b367,3033461,42.02,hunger,850,836
286050,339.0,1590795233,dcbdb24bbab66952b72baca3050b2d071d09d38b,3033537,9.21,hunger,4151,4067
286051,339.0,1590795245,dcbdb24bbab66952b72baca3050b2d071d09d38b,3033552,0.08,disconnect,4151,4068
286052,339.0,1590795531,f26cddfa73f27c3e0a9682245d4fd213247fc05a,3033452,60.00,oldAge,938,621
286053,339.0,1590795684,44406bf15fd133db6b8b1fc545ff758a65262396,3033535,16.91,hunger,859,794
286054,339.0,1590795695,44406bf15fd133db6b8b1fc545ff758a65262396,3033562,0.09,disconnect,859,795
286055,339.0,1590795699,71f0317c349c25ec4188f1b501d05bd99d54b505,3033534,18.79,hunger,5269,5195
286056,339.0,1590795734,dcbdb24bbab66952b72baca3050b2d071d09d38b,3033553,8.05,hunger,4151,4069
286057,339.0,1590796088,dcbdb24bbab66952b72baca3050b2d071d09d38b,3033567,5.79,hunger,4151,4070